# **PyCity Schools Analysis**

As the Chief Data Scientist for the city’s school district, I analyzed district-wide standardized test results as well as other information to understand trends in school performance.  Although the data was sufficient to establish a picture of the current situation, it also produced additional questions regarding its underlying reasons.  The following trends summarize my conclusions.

- More spending per student does not translate into better performance, especially in math (Table 10.1).

- Charter schools significantly outperform district schools (Table 13.1).  

- Small and medium schools are comparable in performance with large schools falling behind (Table 12.1).

- Test scores and passing rates for math and reading do not vary much between grades for any one school possibly implying consistency in student outcomes (Table 8.2.1 and Table 8.3.1).

- Mean and median scores are not significantly different for each school suggesting a symmetrical distribution of scores and passage rates (Table 8.2.3 and Table 8.3.3).

An cursory examination of the school district’s summary yielded useful insights: its 15 high schools have an annual total operating budget of \\$24.7 million for their mission to educate 39,000 students; average test scores range from 79 to 82, and average passing rates fall between 75\% to 85\%.  While there is certainly room for improvement, these metrics are not as significant when one sees the discrepancy of an overall passage rate of 65\%: this inconsistency led me to take a closer look at the data.

The two types of high schools in this school district cannot be more different.  Out of its 15 schools, seven are district and eight are charter.  In this analysis, I weigh per student spending more heavily than total budget, and this approach reveals contrasting circumstances:  the district high schools' average \\$644 per capita outlay, above the district wide average of \\$633, dwarfs the charter schools’ average expenditure per capita of \\$600.  Moreover, school size is also a distinctive consideration: all seven district schools are large while there are one large, five medium, and two small charter schools.  In terms of academic performance, a sorting of the school summary dataset based on overall passing rates reveals the five highest-performing schools to be all charter and the five lowest-performing schools to be all district.  Further examination conveys even more alarming news: all passing rates for charter schools exceed 90\% while district school passing rates lag significantly behind with the overall rate at 65\%.

There are two notable observations from the test scores and passage rates by grade for each high school: variations are remarkably small for all schools; and the difference between mean and median values is, for the most part, negligible.  Unchanging scores can indicate that, from one grade to another, each high school has a group of students who previously passed exams then fail them only to have another group of students approximately equal in number who previously failed exams pass them: this hypothetical situation is highly unlikely.  It is far more plausible that students who are successful in ninth grade are consistently successful for the next three grades and vice versa.  Although the reasons are unclear, these conditions can signify that school practices have led to consistency in student performance.  For all schools, the close mean and median values for scores and passing rates suggest symmetrical distributions; this occurrence coupled with the relatively unchanging scores and passing rates is unusual and suggests that the datasets may be artificial, even, computer generated.

In conclusion, the school district includes seven large district high schools and eight smaller charter high schools.  Despite higher per capita spending, the district schools trail behind the charter schools in performance and bring down the district-wide averages for test scores and passing rates.  Thus, this disparity in school performance is a catalyst for further investigation.  Although there are many possibilities, the culprit is likely either district and school practices, social problems, or a combination of both.  As such, I suggest an additional study to root out the fundamental causes behind these conclusions.

In [1]:
#*******************************************************************************************
 #
 #  File Name:  PyCitySchools.ipynb
 #
 #  File Description:
 #      This interactive Python notebook, PyCitySchools.ipynb, reads two csv files,
 #      studentsComplete.csv and schoolsComplete.csv, in the Resources folder, which 
 #      contain data about students and schools in a single school district.  From 
 #      this data, the notebook performs the necessary calculations to create a 
 #      high-level snapshot of the school district's key metrics. The analysis 
 #      above reflects my conclusions about these metrics.
 #
 #
 #  Date            Description                             Programmer
 #  ----------      ------------------------------------    ------------------
 #  07/30/2023      Initial Development                     Nicholas George
 #
 #******************************************************************************************/
    
import PyCitySchoolsConstants as local_constant

import PyFunctions as function
import PyLogFunctions as log_function
import PyLogSubRoutines as log_subroutine

import pandas as pd

In [2]:
CONSTANT_LOCAL_FILE_NAME \
    = 'PyCitySchools.ipynb'


log_subroutine \
    .SetLogMode \
        (False)

log_subroutine \
    .SetDebugMode \
        (False)

log_subroutine \
    .SetImageMode \
        (False)


log_subroutine \
    .BeginProgramExecution \
        ('PyCitySchools')

# <br> **Section 1: Data Preparation**

## **1.1: Data Retrievel**

In [3]:
# This line of code reads the student data set from the CSV file 
# and stores it in a DataFrame.
studentDataFrame \
    = function. \
        ReturnCSVFileAsDataFrame \
            (local_constant \
                 .STUDENT_DATA_INPUT_FILE_PATH)


log_function \
    .DebugReturnObjectWriteObject \
        (studentDataFrame)

In [4]:
# This line of code reads the school data set from the CSV file 
# and stores it in a DataFrame.
schoolDataFrame \
    = function. \
        ReturnCSVFileAsDataFrame \
            (local_constant \
                 .SCHOOL_DATA_INPUT_FILE_PATH)


log_function \
    .DebugReturnObjectWriteObject \
        (schoolDataFrame)

##  **1.2: Merge DataFrames**

In [5]:
# These lines of code merge the two input DataFrames into a single 
# DataFrame.
onStringList \
    = [studentDataFrame.keys() \
        [local_constant \
            .StudentKeysEnumeration \
                .SCHOOL_NAME \
                .value],
       studentDataFrame.keys() \
        [local_constant \
            .StudentKeysEnumeration \
                .SCHOOL_NAME \
                .value]]

schoolCompleteDataFrame \
    = function \
        .ReturnMergedDataFrame \
            (studentDataFrame,
             schoolDataFrame,
             'left',
             onStringList)


log_function \
    .DebugReturnObjectWriteObject \
        (schoolCompleteDataFrame)

## **1.3: Display Merged DataFrame**

In [6]:
captionString \
    = 'Table 1.3: Complete School Data Set'

currentStylerObject \
    = function \
        .ReturnStylerObjectStandardFormat \
            (schoolCompleteDataFrame.head(12), 
             captionString)

log_function \
    .ReturnStylerObjectSavePNGImage \
        (currentStylerObject,
         captionString)

# <br> **Section 2: School District Metrics**

## **2.1: Calculations**

In [7]:
# This line of code calculates the number of schools in the school 
# district.
numberOfSchoolsIntegerVariable \
    = schoolCompleteDataFrame \
        [schoolCompleteDataFrame.keys() \
            [local_constant \
                .SchoolCompleteKeysEnumeration \
                    .SCHOOL_NAME \
                    .value]] \
            .nunique()


log_function \
    .DebugReturnObjectWriteObject \
        (numberOfSchoolsIntegerVariable)

In [8]:
# This line of code calculates the number of students in the school 
# district.
numberOfStudentsIntegerVariable \
    = len \
        (schoolCompleteDataFrame \
            .index)



log_function \
    .DebugReturnObjectWriteObject \
        (numberOfStudentsIntegerVariable)

In [9]:
# This line of code calculates the total budget for the school district.
totalBudgetIntegerVariable \
    = (schoolCompleteDataFrame \
        .groupby \
            (schoolCompleteDataFrame.keys() \
                [local_constant \
                    .SchoolCompleteKeysEnumeration \
                        .SCHOOL_NAME \
                        .value]) \
            [schoolCompleteDataFrame.keys() \
                [local_constant \
                    .SchoolCompleteKeysEnumeration \
                        .BUDGET \
                        .value]] \
            .unique() \
            .sum())[0]


log_function \
    .DebugReturnObjectWriteObject \
        (totalBudgetIntegerVariable)

In [10]:
# This line of code calculates the average math score for all the 
# students in the school district.
averageMathScoreFloatVariable \
    = round \
        (schoolCompleteDataFrame \
            [schoolCompleteDataFrame.keys() \
                [local_constant \
                    .SchoolCompleteKeysEnumeration \
                        .MATH_SCORE \
                        .value]] \
            .mean(),
         local_constant \
            .NUMBER_OF_DECIMAL_PLACES)


log_function \
    .DebugReturnObjectWriteObject \
        (averageMathScoreFloatVariable)

In [11]:
# This line of code calculates the average reading score for all 
# the students in the school district.
averageReadingScoreFloatVariable \
    = round \
        (schoolCompleteDataFrame \
            [schoolCompleteDataFrame.keys() \
                [local_constant \
                    .SchoolCompleteKeysEnumeration \
                        .READING_SCORE \
                        .value]] \
            .mean(),
         local_constant \
            .NUMBER_OF_DECIMAL_PLACES)


log_function \
    .DebugReturnObjectWriteObject \
        (averageReadingScoreFloatVariable)

In [12]:
# These lines of code calculate the percentage of students in the 
# school district who passed math.
passingMathCountIntegerVariable \
    = schoolCompleteDataFrame \
        [(schoolCompleteDataFrame \
            [schoolCompleteDataFrame.keys() \
                [local_constant \
                    .SchoolCompleteKeysEnumeration \
                        .MATH_SCORE \
                        .value]] >= local_constant \
                                      .MINIMUM_PASSING_TEST_SCORE)] \
                .count() \
            [schoolCompleteDataFrame.keys() \
                [local_constant \
                    .SchoolCompleteKeysEnumeration \
                        .STUDENT_NAME \
                        .value]]

passingMathPercentageFloatVariable \
    = round \
        (float \
            (passingMathCountIntegerVariable) \
         / float \
             (numberOfStudentsIntegerVariable) \
         * 100,
        local_constant \
             .NUMBER_OF_DECIMAL_PLACES)


log_function \
    .DebugReturnObjectWriteObject \
        (passingMathPercentageFloatVariable)

In [13]:
# These lines of code calculate the percentage of students in the 
# school district who passed reading.
passingReadingCountIntegerVariable \
    = schoolCompleteDataFrame \
        [(schoolCompleteDataFrame \
            [schoolCompleteDataFrame.keys() \
                [local_constant \
                    .SchoolCompleteKeysEnumeration \
                        .READING_SCORE \
                        .value]] >= local_constant \
                                        .MINIMUM_PASSING_TEST_SCORE)] \
                .count() \
            [schoolCompleteDataFrame.keys() \
                [local_constant \
                    .SchoolCompleteKeysEnumeration \
                        .STUDENT_NAME \
                        .value]]

passingReadingPercentageFloatVariable \
    = round \
        (float \
             (passingReadingCountIntegerVariable) \
         / float \
             (numberOfStudentsIntegerVariable) \
         * 100,
        local_constant \
             .NUMBER_OF_DECIMAL_PLACES)


log_function \
    .DebugReturnObjectWriteObject \
        (passingReadingPercentageFloatVariable)

In [14]:
# These lines of code calculate the percentage of students in the 
# school district who passed both math and reading.
passingMathAndReadingCountIntegerVariable \
    = schoolCompleteDataFrame \
        [(schoolCompleteDataFrame \
            [schoolCompleteDataFrame.keys() \
                [local_constant \
                    .SchoolCompleteKeysEnumeration \
                        .MATH_SCORE \
                        .value]] >= local_constant \
                                        .MINIMUM_PASSING_TEST_SCORE) \
         & (schoolCompleteDataFrame \
                [schoolCompleteDataFrame.keys() \
                    [local_constant \
                        .SchoolCompleteKeysEnumeration \
                            .READING_SCORE \
                            .value]] >= local_constant \
                                            .MINIMUM_PASSING_TEST_SCORE)] \
            .count() \
        [schoolCompleteDataFrame.keys() \
            [local_constant \
                .SchoolCompleteKeysEnumeration \
                    .STUDENT_NAME \
                    .value]]

overallPassingRateFloatVariable \
    = round \
        (float \
             (passingMathAndReadingCountIntegerVariable) \
         / float \
             (numberOfStudentsIntegerVariable) \
         * 100,
        local_constant \
            .NUMBER_OF_DECIMAL_PLACES)


log_function \
    .DebugReturnObjectWriteObject \
        (overallPassingRateFloatVariable)

## **2.2: Summary of Calculations**

In [15]:
# These lines of code create a List of all the school district metrics 
# and stores the data in a DataFrame.
schoolDistrictSummaryDictionaryList \
    = [{'Total Schools':
            numberOfSchoolsIntegerVariable,
        'Total Students':
            numberOfStudentsIntegerVariable,
        'Total Budget':
            totalBudgetIntegerVariable,
        'Average Math Score':
            averageMathScoreFloatVariable,
        'Average Reading Score':
            averageReadingScoreFloatVariable,
        '% Passing Math':
            passingMathPercentageFloatVariable,
        '% Passing Reading':
            passingReadingPercentageFloatVariable,
        '% Overall Passing':
            overallPassingRateFloatVariable}]

schoolDistrictSummaryDataFrame \
    = pd.DataFrame \
        (schoolDistrictSummaryDictionaryList)


log_function \
    .DebugReturnObjectWriteObject \
        (schoolDistrictSummaryDataFrame)

## **2.3: Display School District Metrics**

In [16]:
captionString \
    = 'Table 2.3: School District Metrics'

currentStylerObject \
    = function \
        .ReturnStylerObjectStandardFormat \
            (schoolDistrictSummaryDataFrame, 
             captionString) \
                .format \
                    ({'Total Students': '{:,}',
                      'Total Budget': '${:,.2f}',
                      'Average Math Score': '{:,.2f}',
                      'Average Reading Score': '{:,.2f}',
                      '% Passing Math': '{:,.2f}%',
                      '% Passing Reading': '{:,.2f}%',
                      '% Overall Passing': '{:,.2f}%'})

log_function \
    .ReturnStylerObjectSavePNGImage \
        (currentStylerObject,
         captionString)

# <br> **Section 3: School Metrics**

## **3.1: Calculations**

In [17]:
# This line of code takes the different unique school types in the School 
# Complete DataFrame and assigns them to a Series.
schoolTypesSeries \
    = schoolCompleteDataFrame \
        .groupby \
            ([schoolCompleteDataFrame.keys()
                [local_constant \
                    .SchoolCompleteKeysEnumeration \
                        .SCHOOL_NAME \
                        .value]]) \
                    [schoolCompleteDataFrame.keys() \
                        [local_constant \
                            .SchoolCompleteKeysEnumeration \
                                .TYPE \
                                .value]] \
                .unique()

for index, row in enumerate(schoolTypesSeries):
    schoolTypesSeries[index] \
        = schoolTypesSeries[index][0]

    
log_function \
    .DebugReturnObjectWriteObject \
        (schoolTypesSeries)

In [18]:
# This line of code calculates the number of students per school.
studentCountPerSchoolSeries \
    = schoolCompleteDataFrame \
        .groupby \
            ([schoolCompleteDataFrame.keys() \
                [local_constant \
                    .SchoolCompleteKeysEnumeration \
                        .SCHOOL_NAME \
                        .value]]) \
                [schoolCompleteDataFrame.keys() \
                    [local_constant \
                        .SchoolCompleteKeysEnumeration \
                            .SCHOOL_NAME \
                            .value]] \
                .size()


log_function \
    .DebugReturnObjectWriteObject \
        (studentCountPerSchoolSeries)

In [19]:
# This line of code calculates the budget per school.
budgetPerSchoolSeries \
    = schoolCompleteDataFrame \
        .groupby \
            ([schoolCompleteDataFrame.keys() \
                [local_constant \
                    .SchoolCompleteKeysEnumeration \
                        .SCHOOL_NAME \
                        .value]]) \
                    [schoolCompleteDataFrame.keys() \
                        [local_constant \
                            .SchoolCompleteKeysEnumeration \
                                .BUDGET \
                                .value]] \
                .unique()

for index, row in enumerate(budgetPerSchoolSeries):
    
    budgetPerSchoolSeries[index] \
        = budgetPerSchoolSeries[index][0]

    
log_function \
    .DebugReturnObjectWriteObject \
        (budgetPerSchoolSeries)

In [20]:
# This line of code calculates the per capita spending per school.
perCapitaSpendingPerSchoolSeries \
    = budgetPerSchoolSeries \
        .astype(float) \
      / studentCountPerSchoolSeries \
            .astype(float)


log_function \
    .DebugReturnObjectWriteObject \
        (perCapitaSpendingPerSchoolSeries)

In [21]:
# This line of code calculates the average math test score per school.
meanMathTestScorePerSchoolSeries \
    = schoolCompleteDataFrame \
        .groupby \
            ([schoolCompleteDataFrame.keys() \
                [local_constant \
                    .SchoolCompleteKeysEnumeration \
                        .SCHOOL_NAME \
                        .value]]) \
                [schoolCompleteDataFrame.keys() \
                    [local_constant \
                        .SchoolCompleteKeysEnumeration \
                            .MATH_SCORE \
                            .value]] \
                .sum() \
      / studentCountPerSchoolSeries \
            .astype(float)


log_function \
    .DebugReturnObjectWriteObject \
        (meanMathTestScorePerSchoolSeries)

In [22]:
# This line of code calculates the average reading test score per school.
meanReadingScorePerSchoolSeries \
    = schoolCompleteDataFrame \
        .groupby \
            ([schoolCompleteDataFrame.keys() \
                [local_constant \
                    .SchoolCompleteKeysEnumeration \
                        .SCHOOL_NAME \
                        .value]]) \
                [schoolCompleteDataFrame.keys() \
                    [local_constant \
                        .SchoolCompleteKeysEnumeration \
                            .READING_SCORE \
                            .value]] \
                .sum() \
      / studentCountPerSchoolSeries \
            .astype(float)


log_function \
    .DebugReturnObjectWriteObject \
        (meanReadingScorePerSchoolSeries)

In [23]:
# These lines of code calculate the number of students who passed math per school.
studentsPassingMathDataFrame \
    = schoolCompleteDataFrame \
        [(schoolCompleteDataFrame \
            [schoolCompleteDataFrame.keys() \
                [local_constant \
                    .SchoolCompleteKeysEnumeration \
                        .MATH_SCORE \
                        .value]] >= local_constant \
                                        .MINIMUM_PASSING_TEST_SCORE)]

studentsPassingMathPerSchoolSeries \
    = studentsPassingMathDataFrame \
        .groupby \
            ([schoolCompleteDataFrame \
                [schoolCompleteDataFrame.keys() \
                    [local_constant \
                        .SchoolCompleteKeysEnumeration \
                            .SCHOOL_NAME \
                            .value]]]) \
                .size()


log_function \
    .DebugReturnObjectWriteObject \
        (studentsPassingMathPerSchoolSeries)

In [24]:
# These lines of code calculate the number of students who passed 
# reading per school.
studentsPassingReadingDataFrame \
    = schoolCompleteDataFrame \
        [(schoolCompleteDataFrame \
            [schoolCompleteDataFrame.keys() \
                [local_constant \
                    .SchoolCompleteKeysEnumeration \
                        .READING_SCORE \
                        .value]] >= local_constant \
                                      .MINIMUM_PASSING_TEST_SCORE)]

studentsPassingReadingPerSchoolSeries \
    = studentsPassingReadingDataFrame \
        .groupby \
            ([schoolCompleteDataFrame \
                [schoolCompleteDataFrame.keys() \
                    [local_constant \
                        .SchoolCompleteKeysEnumeration \
                            .SCHOOL_NAME \
                            .value]]]) \
                .size()


log_function \
    .DebugReturnObjectWriteObject \
        (studentsPassingReadingPerSchoolSeries)

In [25]:
# These lines of code calculate the number of students who passed 
# both math and reading per school.
studentsPassingMathAndReadingDataFrame \
    = schoolCompleteDataFrame \
        [(schoolCompleteDataFrame \
            [schoolCompleteDataFrame.keys() \
                [local_constant \
                    .SchoolCompleteKeysEnumeration \
                        .MATH_SCORE \
                        .value]] >= local_constant \
                                      .MINIMUM_PASSING_TEST_SCORE) 
         & (schoolCompleteDataFrame \
                [schoolCompleteDataFrame.keys() \
                    [local_constant \
                        .SchoolCompleteKeysEnumeration \
                            .READING_SCORE \
                             .value]] >= local_constant \
                                            .MINIMUM_PASSING_TEST_SCORE) ]

studentsPassingMathAndReadingPerSchoolSeries \
    = studentsPassingMathAndReadingDataFrame \
        .groupby \
            ([schoolCompleteDataFrame \
                [schoolCompleteDataFrame.keys() \
                    [local_constant \
                        .SchoolCompleteKeysEnumeration \
                            .SCHOOL_NAME \
                            .value]]]) \
                .size()


log_function \
    .DebugReturnObjectWriteObject \
        (studentsPassingMathAndReadingPerSchoolSeries)

In [26]:
# This line of code calculates the math passing rate per school.
mathPassingRatePerSchoolSeries \
    = (studentsPassingMathPerSchoolSeries.astype(float) \
       / studentCountPerSchoolSeries.astype(float)) \
      * 100


log_function \
    .DebugReturnObjectWriteObject \
        (mathPassingRatePerSchoolSeries)

In [27]:
# This line of code calculates the reading passing rate per school.
readingPassingRatePerSchoolSeries \
    = (studentsPassingReadingPerSchoolSeries.astype(float) \
       / studentCountPerSchoolSeries.astype(float)) \
      * 100


log_function \
    .DebugReturnObjectWriteObject \
        (readingPassingRatePerSchoolSeries)

In [28]:
# This line of code calculates the overall passing rate per school.
overallPassingRatePerSchoolSeries \
    = (studentsPassingMathAndReadingPerSchoolSeries.astype(float) \
       / studentCountPerSchoolSeries.astype(float)) \
      * 100


log_function \
    .DebugReturnObjectWriteObject \
        (overallPassingRatePerSchoolSeries)

## **3.2: Summary of Calculations**

In [29]:
# This line of code creates a School Summary DataFrame from the 
# above calculations.
schoolSummaryDataFrame \
    = pd \
        .concat \
            ({'School Type':
                    schoolTypesSeries,
              'Total Students':
                    studentCountPerSchoolSeries,
              'Total School Budget':
                    budgetPerSchoolSeries,
              'Per Student Budget':
                    perCapitaSpendingPerSchoolSeries,
              'Average Math Score':
                    meanMathTestScorePerSchoolSeries,
              'Average Reading Score':
                    meanReadingScorePerSchoolSeries,
              '% Passing Math':
                    mathPassingRatePerSchoolSeries,
              '% Passing Reading':
                    readingPassingRatePerSchoolSeries,
              '% Overall Passing':
                    overallPassingRatePerSchoolSeries},
             axis \
                = 1)


log_function \
    .DebugReturnObjectWriteObject \
        (schoolSummaryDataFrame)

## **3.3: Display School Metrics**

In [30]:
captionString \
    = 'Table 3.3: School Metrics'

highlightColumnStringList \
    = ['Total Students', 
       'Total School Budget',
       'Per Student Budget',
       'Average Math Score',
       'Average Reading Score',
       '% Passing Math',
       '% Passing Reading',
       '% Overall Passing']

schoolSummaryDataFrame \
    .index \
    .name \
        = 'School Name'

currentStylerObject \
    = function \
        .ReturnStylerObjectStandardFormat \
            (schoolSummaryDataFrame, 
             captionString,
             hideFlagBooleanParameter = False) \
                .format \
                    ({'Total Students': '{:,}',
                      'Total School Budget': '${:,.2f}',
                      'Per Student Budget': '${:,.2f}',
                      'Average Math Score': '{:,.2f}',
                      'Average Reading Score': '{:,.2f}',
                      '% Passing Math': '{:,.2f}%',
                      '% Passing Reading': '{:,.2f}%',
                      '% Overall Passing': '{:,.2f}%'}) \
                .highlight_max \
                    (highlightColumnStringList,
                     color \
                         = 'lime') \
                .highlight_min \
                    (highlightColumnStringList,
                     color \
                         = 'yellow')

log_function \
    .ReturnStylerObjectSavePNGImage \
        (currentStylerObject,
         captionString)

# <br> **Section 4: School Performance**

## **4.1: Highest-Performing Schools**

## **Calculations**

In [31]:
# This line of code sorts the schools in descending order 
# by the values in the column, `% Overall Passing`.
topSchoolsDataFrame \
    = schoolSummaryDataFrame.sort_values \
        (by = [schoolSummaryDataFrame.keys() \
                [local_constant \
                    .SchoolSummaryKeysEnumeration \
                        .PERCENT_OVERALL_PASSING \
                        .value]],
         ascending = False)


log_function \
    .DebugReturnObjectWriteObject \
        (topSchoolsDataFrame)

## **Display Highest-Performing Schools**

In [32]:
captionString \
    = 'Table 4.1: Highest-Performing Schools'

highlightColumnStringList \
    = ['Total Students', 
       'Total School Budget',
       'Per Student Budget',
       'Average Math Score',
       'Average Reading Score',
       '% Passing Math',
       '% Passing Reading',
       '% Overall Passing']

topSchoolsDataFrame \
    .index \
    .name \
        = 'School Name'

currentStylerObject \
    = function \
        .ReturnStylerObjectStandardFormat \
            (topSchoolsDataFrame, 
             captionString,
             hideFlagBooleanParameter = False) \
                .format \
                    ({'Total Students': '{:,}',
                      'Total School Budget': '${:,.2f}',
                      'Per Student Budget': '${:,.2f}',
                      'Average Math Score': '{:,.2f}',
                      'Average Reading Score': '{:,.2f}',
                      '% Passing Math': '{:,.2f}%',
                      '% Passing Reading': '{:,.2f}%',
                      '% Overall Passing': '{:,.2f}%'}) \
                .highlight_max \
                    (highlightColumnStringList,
                     color \
                         = 'lime') \
                .highlight_min \
                    (highlightColumnStringList,
                     color \
                         = 'yellow')

log_function \
    .ReturnStylerObjectSavePNGImage \
        (currentStylerObject,
         captionString)

## **4.2: Lowest-Performing Schools**

## **Calculations**

In [33]:
# This line of code sorts the schools by the values in the column, 
# `% Overall Passing`, in descending order.
lowestSchoolsDataFrame \
    = schoolSummaryDataFrame.sort_values \
        (by = [schoolSummaryDataFrame.keys() \
                [local_constant \
                    .SchoolSummaryKeysEnumeration \
                        .PERCENT_OVERALL_PASSING \
                        .value]],
         ascending = True)


log_function \
    .DebugReturnObjectWriteObject \
        (lowestSchoolsDataFrame)

## **Display Lowest-Performing Schools**

In [34]:
captionString \
    = 'Table 4.2: Lowest-Performing Schools'

highlightColumnStringList \
    = ['Total Students', 
       'Total School Budget',
       'Per Student Budget',
       'Average Math Score',
       'Average Reading Score',
       '% Passing Math',
       '% Passing Reading',
       '% Overall Passing']

lowestSchoolsDataFrame \
    .index \
    .name \
        = 'School Name'

currentStylerObject \
    = function \
        .ReturnStylerObjectStandardFormat \
            (lowestSchoolsDataFrame, 
             captionString,
             hideFlagBooleanParameter = False) \
                .format \
                    ({'Total Students': '{:,}',
                      'Total School Budget': '${:,.2f}',
                      'Per Student Budget': '${:,.2f}',
                      'Average Math Score': '{:,.2f}',
                      'Average Reading Score': '{:,.2f}',
                      '% Passing Math': '{:,.2f}%',
                      '% Passing Reading': '{:,.2f}%',
                      '% Overall Passing': '{:,.2f}%'}) \
                .highlight_max \
                    (highlightColumnStringList,
                     color \
                         = 'lime') \
                .highlight_min \
                    (highlightColumnStringList,
                     color \
                         = 'yellow')

log_function \
    .ReturnStylerObjectSavePNGImage \
        (currentStylerObject,
         captionString)

# <br> **Section 5: Test Scores By Grade**

## **5.1: Data Extraction by Grade**

In [35]:
# These lines of code sort the school summary DataFrame into four 
# separate DataFrames by grade.
ninthGraderDataFrame \
    = schoolCompleteDataFrame \
        [(schoolCompleteDataFrame \
            [schoolCompleteDataFrame.keys() \
                [local_constant \
                    .SchoolCompleteKeysEnumeration \
                        .GRADE \
                        .value]] \
          == '9th')]


log_function \
    .DebugReturnObjectWriteObject \
        (ninthGraderDataFrame)

In [36]:
tenthGraderDataFrame \
    = schoolCompleteDataFrame \
        [(schoolCompleteDataFrame \
            [schoolCompleteDataFrame.keys() \
                [local_constant \
                    .SchoolCompleteKeysEnumeration \
                        .GRADE \
                        .value]] \
          == '10th')]


log_function \
    .DebugReturnObjectWriteObject \
        (tenthGraderDataFrame)

In [37]:
eleventhGraderDataFrame \
    = schoolCompleteDataFrame \
        [(schoolCompleteDataFrame \
            [schoolCompleteDataFrame.keys() \
                [local_constant \
                    .SchoolCompleteKeysEnumeration \
                        .GRADE \
                        .value]] \
          == '11th')]


log_function \
    .DebugReturnObjectWriteObject \
        (eleventhGraderDataFrame)

In [38]:
twelfthGraderDataFrame \
    = schoolCompleteDataFrame \
        [(schoolCompleteDataFrame \
            [schoolCompleteDataFrame.keys() \
                [local_constant \
                    .SchoolCompleteKeysEnumeration \
                        .GRADE \
                        .value]] \
          == '12th')]


log_function \
    .DebugReturnObjectWriteObject \
        (twelfthGraderDataFrame)

## **5.2: Math Scores by Grade**

## **Math Scores (Mean) by Grade**

### Calculations (Math Scores (Mean))

In [39]:
# For each grade, these lines of code calculate the average math 
# scores per school.
ninthGraderMeanMathScoresSeries \
    = ninthGraderDataFrame \
        .groupby \
            ([schoolCompleteDataFrame.keys() \
                [local_constant \
                    .SchoolCompleteKeysEnumeration \
                        .SCHOOL_NAME \
                        .value]]) \
                    [schoolCompleteDataFrame.keys() \
                        [local_constant \
                            .SchoolCompleteKeysEnumeration \
                                .MATH_SCORE \
                                .value]] \
                .mean()


log_function \
    .DebugReturnObjectWriteObject \
        (ninthGraderMeanMathScoresSeries)

In [40]:
tenthGraderMeanMathScoresSeries \
    = tenthGraderDataFrame \
        .groupby \
            ([schoolCompleteDataFrame.keys() \
                [local_constant \
                    .SchoolCompleteKeysEnumeration \
                        .SCHOOL_NAME \
                        .value]]) \
                    [schoolCompleteDataFrame.keys() \
                        [local_constant \
                            .SchoolCompleteKeysEnumeration \
                                .MATH_SCORE \
                                .value]] \
                .mean()


log_function \
    .DebugReturnObjectWriteObject \
        (tenthGraderMeanMathScoresSeries)

In [41]:
eleventhGraderMeanMathScoresSeries \
    = eleventhGraderDataFrame \
        .groupby \
            ([schoolCompleteDataFrame.keys() \
                [local_constant \
                     .SchoolCompleteKeysEnumeration \
                        .SCHOOL_NAME \
                        .value]]) \
                    [schoolCompleteDataFrame.keys() \
                        [local_constant \
                            .SchoolCompleteKeysEnumeration \
                            .MATH_SCORE \
                            .value]] \
                .mean()


log_function \
    .DebugReturnObjectWriteObject \
        (eleventhGraderMeanMathScoresSeries)

In [42]:
twelfthGraderMeanMathScoresSeries \
    = twelfthGraderDataFrame \
        .groupby \
            ([schoolCompleteDataFrame.keys() \
                [local_constant \
                     .SchoolCompleteKeysEnumeration \
                         .SCHOOL_NAME \
                         .value]]) \
                    [schoolCompleteDataFrame.keys() \
                        [local_constant \
                            .SchoolCompleteKeysEnumeration \
                                .MATH_SCORE \
                                .value]] \
                .mean()


log_function \
    .DebugReturnObjectWriteObject \
        (twelfthGraderMeanMathScoresSeries)

### Summary of Calculations (Math Scores (Mean))

In [43]:
# This line of code creates a DataFrame from the average math score 
# calculations.
meanMathScoresByGradeDataFrame \
    = pd \
        .concat \
            ({'9th': ninthGraderMeanMathScoresSeries,
              '10th': tenthGraderMeanMathScoresSeries,
              '11th': eleventhGraderMeanMathScoresSeries,
              '12th': twelfthGraderMeanMathScoresSeries },
              axis \
                 = 1)


log_function \
    .DebugReturnObjectWriteObject \
        (meanMathScoresByGradeDataFrame)

## **Math Scores (Median) by Grade**

### Calculations (Math Scores (Median))

In [44]:
# For each grade, these lines of code calculate the median math scores 
# per school.
ninthGraderMedianMathScoresSeries \
    = ninthGraderDataFrame \
        .groupby \
            ([schoolCompleteDataFrame.keys() \
                [local_constant \
                    .SchoolCompleteKeysEnumeration \
                        .SCHOOL_NAME \
                        .value]]) \
                    [schoolCompleteDataFrame.keys() \
                        [local_constant \
                            .SchoolCompleteKeysEnumeration \
                                .MATH_SCORE \
                                .value]] \
                .median()


log_function \
    .DebugReturnObjectWriteObject \
        (ninthGraderMedianMathScoresSeries)

In [45]:
tenthGraderMedianMathScoresSeries \
    = tenthGraderDataFrame \
        .groupby \
            ([schoolCompleteDataFrame.keys() \
                [local_constant \
                    .SchoolCompleteKeysEnumeration \
                        .SCHOOL_NAME \
                        .value]]) \
                    [schoolCompleteDataFrame.keys() \
                        [local_constant \
                            .SchoolCompleteKeysEnumeration \
                                .MATH_SCORE \
                                .value]] \
                .median()


log_function \
    .DebugReturnObjectWriteObject \
        (tenthGraderMedianMathScoresSeries)

In [46]:
eleventhGraderMedianMathScoresSeries \
    = eleventhGraderDataFrame \
        .groupby \
            ([schoolCompleteDataFrame.keys() \
                [local_constant \
                    .SchoolCompleteKeysEnumeration \
                        .SCHOOL_NAME \
                        .value]]) \
                    [schoolCompleteDataFrame.keys() \
                        [local_constant \
                            .SchoolCompleteKeysEnumeration \
                                .MATH_SCORE \
                                .value]] \
                .median()


log_function \
    .DebugReturnObjectWriteObject \
        (eleventhGraderMedianMathScoresSeries)

In [47]:
twelfthGraderMedianMathScoresSeries \
    = twelfthGraderDataFrame \
        .groupby \
            ([schoolCompleteDataFrame.keys() \
                [local_constant \
                    .SchoolCompleteKeysEnumeration \
                        .SCHOOL_NAME \
                        .value]]) \
                    [schoolCompleteDataFrame.keys() \
                        [local_constant \
                            .SchoolCompleteKeysEnumeration \
                                .MATH_SCORE \
                                .value]] \
                .median()


log_function \
    .DebugReturnObjectWriteObject \
        (twelfthGraderMedianMathScoresSeries)

### Summary of Calculations (Math Scores (Median))

In [48]:
# This line of code creates a DataFrame from the median math score 
# calculations.
medianMathScoresByGradeDataFrame \
    = pd \
        .concat \
            ({'9th': ninthGraderMedianMathScoresSeries,
              '10th': tenthGraderMedianMathScoresSeries,
              '11th': eleventhGraderMedianMathScoresSeries,
              '12th': twelfthGraderMedianMathScoresSeries },
             axis = 1)


log_function \
    .DebugReturnObjectWriteObject \
        (medianMathScoresByGradeDataFrame)

## **Math Scores (Mean/Median) by Grade**

### Summary of Calculations (Math Scores (Mean/Median))

In [49]:
# This line of code creates a DataFrame from the average math score 
# and median math score DataFrames.
meanMedianCompareMathScoresDataFrame \
    = meanMathScoresByGradeDataFrame \
        .compare \
            (medianMathScoresByGradeDataFrame,
             align_axis = 1,
             keep_shape = True,
             keep_equal = True) \
        .rename \
            (columns \
                 = {'self': 'Mean',
                    'other': 'Median'},
             level = -1)


log_function \
    .DebugReturnObjectWriteObject \
        (meanMedianCompareMathScoresDataFrame)

## **Display Math Scores (Mean) by Grade**

In [50]:
captionString \
    = 'Table 5.2.1: Math Scores (Mean) by Grade'

highlightColumnStringList \
    = ['9th', 
       '10th',
       '11th',
       '12th']

meanMathScoresByGradeDataFrame \
    .index \
    .name \
        = 'School Name'

currentStylerObject \
    = function \
        .ReturnStylerObjectStandardFormat \
            (meanMathScoresByGradeDataFrame, 
             captionString,
             hideFlagBooleanParameter = False) \
                .highlight_max \
                    (highlightColumnStringList,
                     color \
                         = 'lime') \
                .highlight_min \
                    (highlightColumnStringList,
                     color \
                         = 'yellow')

log_function \
    .ReturnStylerObjectSavePNGImage \
        (currentStylerObject,
         captionString)

## **Display Math Scores (Median) by Grade**

In [51]:
captionString \
    = 'Table 5.2.2: Math Scores (Median) by Grade'

highlightColumnStringList \
    = ['9th', 
       '10th',
       '11th',
       '12th']

medianMathScoresByGradeDataFrame \
    .index \
    .name \
        = 'School Name'

currentStylerObject \
    = function \
        .ReturnStylerObjectStandardFormat \
            (medianMathScoresByGradeDataFrame, 
             captionString,
             hideFlagBooleanParameter = False) \
                .highlight_max \
                    (highlightColumnStringList,
                     color \
                         = 'lime') \
                .highlight_min \
                    (highlightColumnStringList,
                     color \
                         = 'yellow')

log_function \
    .ReturnStylerObjectSavePNGImage \
        (currentStylerObject,
         captionString)

## **Display Math Scores (Mean/Median) by Grade**

In [52]:
captionString \
    = 'Table 5.2.3: Math Scores (Mean/Median) by Grade'

highlightColumnStringList \
    = ['9th', 
       '10th',
       '11th',
       '12th']

meanMedianCompareMathScoresDataFrame \
    .index \
    .name \
        = 'School Name'

currentStylerObject \
    = function \
        .ReturnStylerObjectStandardFormat \
            (meanMedianCompareMathScoresDataFrame, 
             captionString,
             hideFlagBooleanParameter = False) \
                .highlight_max \
                    (highlightColumnStringList,
                     color \
                         = 'lime') \
                .highlight_min \
                    (highlightColumnStringList,
                     color \
                         = 'yellow')

log_function \
    .ReturnStylerObjectSavePNGImage \
        (currentStylerObject,
         captionString)

## **5.3: Reading Scores by Grade**

## **Reading Scores (Mean) by Grade**

### Calculations (Reading Scores (Mean))

In [53]:
# For each grade, these lines of code calculate the average reading 
# scores per school.
ninthGraderMeanReadingScoresSeries \
    = ninthGraderDataFrame \
        .groupby \
            ([schoolCompleteDataFrame.keys() \
                [local_constant \
                    .SchoolCompleteKeysEnumeration \
                        .SCHOOL_NAME \
                        .value]]) \
                    [schoolCompleteDataFrame.keys() \
                        [local_constant \
                            .SchoolCompleteKeysEnumeration \
                                .READING_SCORE \
                                .value]] \
                .mean()


log_function \
    .DebugReturnObjectWriteObject \
        (ninthGraderMeanReadingScoresSeries)

In [54]:
tenthGraderMeanReadingScoresSeries \
    = tenthGraderDataFrame \
        .groupby \
            ([schoolCompleteDataFrame.keys() \
                [local_constant \
                    .SchoolCompleteKeysEnumeration \
                        .SCHOOL_NAME \
                        .value]]) \
                    [schoolCompleteDataFrame.keys()
                        [local_constant \
                            .SchoolCompleteKeysEnumeration \
                                .READING_SCORE \
                                .value]] \
                .mean()


log_function \
    .DebugReturnObjectWriteObject \
        (tenthGraderMeanReadingScoresSeries)

In [55]:
eleventhGraderMeanReadingScoresSeries \
    = eleventhGraderDataFrame \
        .groupby \
            ([schoolCompleteDataFrame.keys() \
                [local_constant \
                    .SchoolCompleteKeysEnumeration \
                        .SCHOOL_NAME \
                        .value]]) \
                    [schoolCompleteDataFrame.keys() \
                        [local_constant \
                            .SchoolCompleteKeysEnumeration \
                                .READING_SCORE \
                                .value]] \
                .mean()


log_function \
    .DebugReturnObjectWriteObject \
        (eleventhGraderMeanReadingScoresSeries)

In [56]:
twelfthGraderMeanReadingScoresSeries \
    = twelfthGraderDataFrame \
        .groupby \
            ([schoolCompleteDataFrame.keys() \
                [local_constant \
                    .SchoolCompleteKeysEnumeration \
                        .SCHOOL_NAME \
                        .value]]) \
                    [schoolCompleteDataFrame.keys() \
                        [local_constant \
                            .SchoolCompleteKeysEnumeration \
                                .READING_SCORE \
                                .value]] \
                .mean()


log_function \
    .DebugReturnObjectWriteObject \
        (twelfthGraderMeanReadingScoresSeries)

### Summary of Calculations (Reading Scores (Mean))

In [57]:
# This line of code creates a DataFrame from the average reading 
# score calculations.
meanReadingScoresByGradeDataFrame \
    = pd \
        .concat \
            ({'9th':
                    ninthGraderMeanReadingScoresSeries,
              '10th':
                    tenthGraderMeanReadingScoresSeries,
              '11th':
                    eleventhGraderMeanReadingScoresSeries,
              '12th':
                    twelfthGraderMeanReadingScoresSeries},
             axis \
                 = 1)


log_function \
    .DebugReturnObjectWriteObject \
        (meanReadingScoresByGradeDataFrame)

## **Reading Scores (Median) by Grade**

### Calculations (Reading Scores (Median))

In [58]:
# For each grade, these lines of code calculate the median reading 
# scores per school.
ninthGraderMedianReadingScoresSeries \
    = ninthGraderDataFrame \
        .groupby \
            ([schoolCompleteDataFrame.keys() \
                [local_constant \
                    .SchoolCompleteKeysEnumeration \
                        .SCHOOL_NAME \
                        .value]]) \
                    [schoolCompleteDataFrame.keys() \
                        [local_constant \
                            .SchoolCompleteKeysEnumeration \
                                .READING_SCORE \
                                .value]] \
                .median()


log_function \
    .DebugReturnObjectWriteObject \
        (ninthGraderMedianReadingScoresSeries)

In [59]:
tenthGraderMedianReadingScoresSeries \
    = tenthGraderDataFrame \
        .groupby \
            ([schoolCompleteDataFrame.keys() \
                [local_constant \
                    .SchoolCompleteKeysEnumeration \
                        .SCHOOL_NAME \
                        .value]]) \
                    [schoolCompleteDataFrame.keys() \
                        [local_constant \
                            .SchoolCompleteKeysEnumeration \
                                .READING_SCORE \
                                .value]] \
                .median()


log_function \
    .DebugReturnObjectWriteObject \
        (tenthGraderMedianReadingScoresSeries)

In [60]:
eleventhGraderMedianReadingScoresSeries \
    = eleventhGraderDataFrame \
        .groupby \
            ([schoolCompleteDataFrame.keys() \
                [local_constant \
                    .SchoolCompleteKeysEnumeration \
                        .SCHOOL_NAME \
                        .value]]) \
                    [schoolCompleteDataFrame.keys() \
                        [local_constant \
                            .SchoolCompleteKeysEnumeration \
                                .READING_SCORE \
                                .value]] \
                .median()


log_function \
    .DebugReturnObjectWriteObject \
        (eleventhGraderMedianReadingScoresSeries)

In [61]:
twelfthGraderMedianReadingScoresSeries \
    = twelfthGraderDataFrame \
        .groupby \
            ([schoolCompleteDataFrame.keys() \
                [local_constant \
                    .SchoolCompleteKeysEnumeration \
                        .SCHOOL_NAME \
                        .value]]) \
                    [schoolCompleteDataFrame.keys() \
                        [local_constant \
                            .SchoolCompleteKeysEnumeration \
                                .READING_SCORE \
                                .value]] \
                .median()


log_function \
    .DebugReturnObjectWriteObject \
        (twelfthGraderMedianReadingScoresSeries)

### Summary of Calculations (Reading Scores (Median))

In [62]:
# This line of code creates a DataFrame from the median reading 
# score calculations.
medianReadingScoresByGradeDataFrame \
    = pd \
        .concat \
            ({'9th': ninthGraderMedianReadingScoresSeries,
              '10th': tenthGraderMedianReadingScoresSeries,
              '11th': eleventhGraderMedianReadingScoresSeries,
              '12th': twelfthGraderMedianReadingScoresSeries },
             axis = 1)


log_function \
    .DebugReturnObjectWriteObject \
        (medianReadingScoresByGradeDataFrame)

## **Reading Scores (Mean/Median) by Grade**

### Summary of Calculations (Reading Scores (Mean/Median))

In [63]:
# This line of code creates a DataFrame from the average math score 
# and median math score DataFrames.
meanMedianCompareReadingScoresDataFrame \
    = meanReadingScoresByGradeDataFrame \
        .compare \
            (medianReadingScoresByGradeDataFrame,
             align_axis = 1.0,
             keep_shape = True,
             keep_equal = True) \
        .rename \
            (columns \
                = {'self': 'Mean',
                   'other': 'Median'},
             level \
                 = -1)


log_function \
    .DebugReturnObjectWriteObject \
        (meanMedianCompareReadingScoresDataFrame)

## **Display Reading Scores (Mean) by Grade**

In [64]:
captionString \
    = 'Table 5.3.1: Reading Scores (Mean) by Grade'

highlightColumnStringList \
    = ['9th', 
       '10th',
       '11th',
       '12th']

meanReadingScoresByGradeDataFrame \
    .index \
    .name \
        = 'School Name'

currentStylerObject \
    = function \
        .ReturnStylerObjectStandardFormat \
            (meanReadingScoresByGradeDataFrame, 
             captionString,
             hideFlagBooleanParameter = False) \
                .highlight_max \
                    (highlightColumnStringList,
                     color \
                         = 'lime') \
                .highlight_min \
                    (highlightColumnStringList,
                     color \
                         = 'yellow')

log_function \
    .ReturnStylerObjectSavePNGImage \
        (currentStylerObject,
         captionString)

## **Display Reading Scores (Median) by Grade**

In [65]:
captionString \
    = 'Table 5.3.2: Reading Scores (Median) by Grade'

highlightColumnStringList \
    = ['9th', 
       '10th',
       '11th',
       '12th']

medianReadingScoresByGradeDataFrame \
    .index \
    .name \
        = 'School Name'

currentStylerObject \
    = function \
        .ReturnStylerObjectStandardFormat \
            (medianReadingScoresByGradeDataFrame, 
             captionString,
             hideFlagBooleanParameter = False) \
                .highlight_max \
                    (highlightColumnStringList,
                     color \
                         = 'lime') \
                .highlight_min \
                    (highlightColumnStringList,
                     color \
                         = 'yellow')

log_function \
    .ReturnStylerObjectSavePNGImage \
        (currentStylerObject,
         captionString)

## **Display Reading Scores (Mean/Median) by Grade**

In [66]:
captionString \
    = 'Table 5.3.3: Reading Scores (Mean/Median) by Grade'

highlightColumnStringList \
    = ['9th', 
       '10th',
       '11th',
       '12th']

meanMedianCompareReadingScoresDataFrame \
    .index \
    .name \
        = 'School Name'

currentStylerObject \
    = function \
        .ReturnStylerObjectStandardFormat \
            (meanMedianCompareReadingScoresDataFrame, 
             captionString,
             hideFlagBooleanParameter = False) \
                .highlight_max \
                    (highlightColumnStringList,
                     color \
                         = 'lime') \
                .highlight_min \
                    (highlightColumnStringList,
                     color \
                         = 'yellow')

log_function \
    .ReturnStylerObjectSavePNGImage \
        (currentStylerObject,
         captionString)

# <br> **Section 6: School Metrics with Spending Ranges**

## **6.1: Calculations**

In [67]:
# This line of code creates a copy of the school summary DataFrame 
# and assigns it to the scores by school spending DataFrame.
scoresBySchoolSpendingDataFrame \
    = schoolSummaryDataFrame \
        .copy()

# This line of code establishes the bins for the spending ranges. 
schoolSpendingBinsIntegerList \
    = [0, 585, 630, 645, 680]

# This line of code establishes the labels for the spending ranges.
schoolSpendingLabelsStringList \
    = ['<$585', '$585-630', '$630-645', '$645-680']

In [68]:
# This line of code creates a new column in the scores by school 
# spending DataFrame for spending ranges: the Pandas subroutine, 
# `pd.cut`, creates the spending ranges based on the predefined 
# bins and labels and assigns them to the new column.
scoresBySchoolSpendingDataFrame \
    ['Spending Ranges (Per Student)'] \
        = pd \
            .cut \
                (x = scoresBySchoolSpendingDataFrame \
                        [schoolSummaryDataFrame.keys() \
                            [local_constant \
                                .SchoolSummaryKeysEnumeration \
                                    .PER_STUDENT_BUDGET \
                                    .value]],
                 bins = schoolSpendingBinsIntegerList,
                 labels = schoolSpendingLabelsStringList)


log_function \
    .DebugReturnObjectWriteObject \
        (scoresBySchoolSpendingDataFrame)

## **6.2: Display School Metrics with Spending Ranges**

In [69]:
captionString \
    = 'Table 6.2: School Metrics with Spending Ranges'

highlightColumnStringList \
    = ['Total Students', 
       'Total School Budget',
       'Per Student Budget',
       'Average Math Score',
       'Average Reading Score',
       '% Passing Math',
       '% Passing Reading',
       '% Overall Passing']

scoresBySchoolSpendingDataFrame \
    .index \
    .name \
        = 'School Name'

currentStylerObject \
    = function \
        .ReturnStylerObjectStandardFormat \
            (scoresBySchoolSpendingDataFrame, 
             captionString,
             hideFlagBooleanParameter = False) \
                .format \
                    ({'Total Students': '{:,}',
                      'Total School Budget': '${:,.2f}',
                      'Per Student Budget': '${:,.2f}',
                      'Average Math Score': '{:,.2f}',
                      'Average Reading Score': '{:,.2f}',
                      '% Passing Math': '{:,.2f}%',
                      '% Passing Reading': '{:,.2f}%',
                      '% Overall Passing': '{:,.2f}%'}) \
                .highlight_max \
                    (highlightColumnStringList,
                     color \
                         = 'lime') \
                .highlight_min \
                    (highlightColumnStringList,
                     color \
                         = 'yellow')

log_function \
    .ReturnStylerObjectSavePNGImage \
        (currentStylerObject,
         captionString)

# <br> **Section 7: Test Scores/Passing Rates by Spending Ranges**

## **7.1: Test Scores/Passing Rates (Mean) by Spending Ranges**

## **Calculations**

In [70]:
# This line of code calculates the average math score per spending range.
scoresMeanMathScoresSeries \
    = scoresBySchoolSpendingDataFrame \
        .groupby \
            ([scoresBySchoolSpendingDataFrame.keys() \
                [local_constant \
                    .SchoolSummaryKeysEnumeration \
                        .OPTIONAL_SPENDING_RANGES_PER_STUDENT \
                        .value]]) \
                    [schoolSummaryDataFrame.keys() \
                        [local_constant \
                            .SchoolSummaryKeysEnumeration \
                                .MATH_SCORE \
                                .value]] \
                .mean()


log_function \
    .DebugReturnObjectWriteObject \
        (scoresMeanMathScoresSeries)

In [71]:
# This line of code calculates the average reading score per spending range.
scoresMeanReadingScoresSeries \
    = scoresBySchoolSpendingDataFrame \
        .groupby \
            ([scoresBySchoolSpendingDataFrame.keys() \
                [local_constant \
                    .SchoolSummaryKeysEnumeration \
                        .OPTIONAL_SPENDING_RANGES_PER_STUDENT \
                        .value]]) \
                    [schoolSummaryDataFrame.keys() \
                        [local_constant.SchoolSummaryKeysEnumeration \
                            .READING_SCORE \
                            .value]] \
                .mean()


log_function \
    .DebugReturnObjectWriteObject \
        (scoresMeanReadingScoresSeries)

In [72]:
# This line of code calculates the average math passing rate per spending range.
scoresMeanPassingMathSeries \
    = scoresBySchoolSpendingDataFrame \
        .groupby \
            ([scoresBySchoolSpendingDataFrame.keys() \
                [local_constant \
                    .SchoolSummaryKeysEnumeration \
                        .OPTIONAL_SPENDING_RANGES_PER_STUDENT \
                        .value]]) \
                    [schoolSummaryDataFrame.keys() \
                        [local_constant \
                            .SchoolSummaryKeysEnumeration \
                            .PERCENT_PASSING_MATH \
                            .value]] \
                .mean()


log_function \
    .DebugReturnObjectWriteObject \
        (scoresMeanPassingMathSeries)

In [73]:
# This line of code calculates the average reading passing rate per spending range.
scoresMeanPassingReadingSeries \
    = scoresBySchoolSpendingDataFrame \
        .groupby \
            ([scoresBySchoolSpendingDataFrame.keys() \
                [local_constant \
                    .SchoolSummaryKeysEnumeration \
                        .OPTIONAL_SPENDING_RANGES_PER_STUDENT \
                        .value]]) \
                    [schoolSummaryDataFrame.keys() \
                        [local_constant \
                            .SchoolSummaryKeysEnumeration \
                                .PERCENT_PASSING_READING \
                                .value]] \
                .mean()


log_function \
    .DebugReturnObjectWriteObject \
        (scoresMeanPassingReadingSeries)

In [74]:
# This line of code calculates the average overall passing rate per spending range.
scoresMeanPassingOverallSeries \
    = scoresBySchoolSpendingDataFrame \
        .groupby \
            ([scoresBySchoolSpendingDataFrame.keys() \
                [local_constant \
                    .SchoolSummaryKeysEnumeration \
                        .OPTIONAL_SPENDING_RANGES_PER_STUDENT \
                        .value]]) \
                    [schoolSummaryDataFrame.keys() \
                        [local_constant \
                            .SchoolSummaryKeysEnumeration \
                                .PERCENT_OVERALL_PASSING \
                                .value]] \
                .mean()


log_function \
    .DebugReturnObjectWriteObject \
        (scoresMeanPassingOverallSeries)

## **Summary of Calculations**

In [75]:
# This line of code creates a DataFrame from the average score and passing rate 
# per spending range calculations.
scoresMeanSummaryDataFrame \
    = pd \
        .concat \
            ({'Math Score': scoresMeanMathScoresSeries,
              'Reading Score': scoresMeanReadingScoresSeries,
              '% Passing Math': scoresMeanPassingMathSeries,
              '% Passing Reading': scoresMeanPassingReadingSeries,
              '% Overall Passing': scoresMeanPassingOverallSeries},
             axis = 1)


log_function \
    .DebugReturnObjectWriteObject \
        (scoresMeanSummaryDataFrame)

## **7.2: Test Scores/Passing Rates (Median) by Spending Ranges**

## **Calculations**

In [76]:
# This line of code calculates the median math score per spending range.
scoresMedianMathScoresSeries \
    = scoresBySchoolSpendingDataFrame \
        .groupby \
            ([scoresBySchoolSpendingDataFrame.keys() \
                [local_constant \
                    .SchoolSummaryKeysEnumeration \
                        .OPTIONAL_SPENDING_RANGES_PER_STUDENT \
                        .value]]) \
                    [schoolSummaryDataFrame.keys() \
                        [local_constant \
                            .SchoolSummaryKeysEnumeration \
                                .MATH_SCORE \
                                .value]] \
                .median()


log_function \
    .DebugReturnObjectWriteObject \
        (scoresMedianMathScoresSeries)

In [77]:
# This line of code calculates the median reading score per spending range.
scoresMedianReadingScoresSeries \
    = scoresBySchoolSpendingDataFrame \
        .groupby \
            ([scoresBySchoolSpendingDataFrame.keys() \
                [local_constant \
                    .SchoolSummaryKeysEnumeration \
                        .OPTIONAL_SPENDING_RANGES_PER_STUDENT \
                        .value]]) \
                    [schoolSummaryDataFrame.keys() \
                        [local_constant \
                            .SchoolSummaryKeysEnumeration \
                                .READING_SCORE \
                                .value]] \
                .median()


log_function \
    .DebugReturnObjectWriteObject \
        (scoresMedianReadingScoresSeries)

In [78]:
# This line of code calculates the median math passing rate per 
# spending range.
scoresMedianPassingMathSeries \
    = scoresBySchoolSpendingDataFrame \
        .groupby \
            ([scoresBySchoolSpendingDataFrame.keys() \
                [local_constant \
                    .SchoolSummaryKeysEnumeration \
                        .OPTIONAL_SPENDING_RANGES_PER_STUDENT \
                        .value]]) \
                    [schoolSummaryDataFrame.keys() \
                        [local_constant \
                            .SchoolSummaryKeysEnumeration \
                                .PERCENT_PASSING_MATH \
                                .value]] \
                .median()


log_function \
    .DebugReturnObjectWriteObject \
        (scoresMedianPassingMathSeries)

In [79]:
# This line of code calculates the median reading passing rate per 
# spending range.
scoresMedianPassingReadingSeries \
    = scoresBySchoolSpendingDataFrame \
        .groupby \
            ([scoresBySchoolSpendingDataFrame.keys() \
                [local_constant \
                    .SchoolSummaryKeysEnumeration \
                        .OPTIONAL_SPENDING_RANGES_PER_STUDENT \
                        .value]]) \
                    [schoolSummaryDataFrame.keys() \
                        [local_constant \
                            .SchoolSummaryKeysEnumeration \
                                .PERCENT_PASSING_READING \
                                .value]] \
                .median()


log_function \
    .DebugReturnObjectWriteObject \
        (scoresMedianPassingReadingSeries)

In [80]:
# This line of code calculates the median overall passing rate per 
# spending range.
scoresMedianPassingOverallSeries \
    = scoresBySchoolSpendingDataFrame \
        .groupby \
            ([scoresBySchoolSpendingDataFrame.keys() \
                [local_constant \
                    .SchoolSummaryKeysEnumeration \
                        .OPTIONAL_SPENDING_RANGES_PER_STUDENT \
                        .value]]) \
                    [schoolSummaryDataFrame.keys() \
                        [local_constant \
                            .SchoolSummaryKeysEnumeration \
                                .PERCENT_OVERALL_PASSING \
                                .value]] \
                .median()


log_function \
    .DebugReturnObjectWriteObject \
        (scoresMedianPassingOverallSeries)

## **Summary of Calculations**

In [81]:
# This line of code creates a DataFrame from the median score 
# and passing rate per spending range calculations.
scoresMedianSummaryDataFrame \
    = pd \
        .concat \
            ({'Math Score': scoresMedianMathScoresSeries,
              'Reading Score': scoresMedianReadingScoresSeries,
              '% Passing Math': scoresMedianPassingMathSeries,
              '% Passing Reading': scoresMedianPassingReadingSeries,
              '% Overall Passing': scoresMedianPassingOverallSeries},
             axis = 1)


log_function \
    .DebugReturnObjectWriteObject \
        (scoresMedianSummaryDataFrame)

## **7.3: Test Scores/Passing Rates (Mean/Median) by Spending Ranges**

## **Summary of Calculations**

In [82]:
# This line of code creates a DataFrame from the average and median score 
# and passing rate per spending range DataFrames.
scoresMeanMedianDataFrame \
    = scoresMeanSummaryDataFrame \
        .compare \
            (scoresMedianSummaryDataFrame,
             align_axis = 1,
             keep_shape = True,
             keep_equal = True) \
        .rename \
            (columns = {'self': 'Mean',
                        'other': 'Median'},
             level = -1)


log_function \
    .DebugReturnObjectWriteObject \
        (scoresMeanMedianDataFrame)

## **7.4: Display Test Scores/Passing Rates (Mean) by Spending Ranges**

In [83]:
captionString \
    = 'Table 7.4: Test Scores/Passing Rates (Mean) by Spending Ranges'

highlightColumnStringList \
    = ['Math Score', 
       'Reading Score',
       '% Passing Math',
       '% Passing Reading',
       '% Overall Passing']

scoresMeanSummaryDataFrame \
    .index \
    .name \
        = 'Spending Range'

currentStylerObject \
    = function \
        .ReturnStylerObjectStandardFormat \
            (scoresMeanSummaryDataFrame, 
             captionString,
             hideFlagBooleanParameter = False) \
                .format \
                    ({'Math Score': '{:,.2f}',
                      'Reading Score': '${:,.2f}',
                      '% Passing Math': '${:,.2f}%',
                      '% Passing Reading': '{:,.2f}%',
                      '% Overall Passing': '{:,.2f}%'}) \
                .highlight_max \
                    (highlightColumnStringList,
                     color \
                         = 'lime') \
                .highlight_min \
                    (highlightColumnStringList,
                     color \
                         = 'yellow')


log_function \
    .ReturnStylerObjectSavePNGImage \
        (currentStylerObject,
         captionString)

## **7.5: Display Test Scores/Passing Rates (Median) by Spending Ranges**

In [84]:
captionString \
    = 'Table 7.5: Test Scores/Passing Rates (Median) by Spending Ranges'

highlightColumnStringList \
    = ['Math Score', 
       'Reading Score',
       '% Passing Math',
       '% Passing Reading',
       '% Overall Passing']

scoresMedianSummaryDataFrame \
    .index \
    .name \
        = 'Spending Range'

currentStylerObject \
    = function \
        .ReturnStylerObjectStandardFormat \
            (scoresMedianSummaryDataFrame, 
             captionString,
             hideFlagBooleanParameter = False) \
                .format \
                    ({'Math Score': '{:,.2f}',
                      'Reading Score': '${:,.2f}',
                      '% Passing Math': '${:,.2f}%',
                      '% Passing Reading': '{:,.2f}%',
                      '% Overall Passing': '{:,.2f}%'}) \
                .highlight_max \
                    (highlightColumnStringList,
                     color \
                         = 'lime') \
                .highlight_min \
                    (highlightColumnStringList,
                     color \
                         = 'yellow')


log_function \
    .ReturnStylerObjectSavePNGImage \
        (currentStylerObject,
         captionString)

## **7.6: Display Test Scores/Passing Rates (Mean/Median) by Spending Ranges**

In [85]:
captionString \
    = 'Table 7.6: Test Scores/Passing Rates (Mean/Median) by Spending Ranges'

highlightColumnStringList \
    = ['Math Score', 
       'Reading Score',
       '% Passing Math',
       '% Passing Reading',
       '% Overall Passing']

scoresMedianSummaryDataFrame \
    .index \
    .name \
        = 'Spending Range'

currentStylerObject \
    = function \
        .ReturnStylerObjectStandardFormat \
            (scoresMedianSummaryDataFrame, 
             captionString,
             hideFlagBooleanParameter = False) \
                .format \
                    ({'Math Score': '{:,.2f}',
                      'Reading Score': '${:,.2f}',
                      '% Passing Math': '${:,.2f}%',
                      '% Passing Reading': '{:,.2f}%',
                      '% Overall Passing': '{:,.2f}%'}) \
                .highlight_max \
                    (highlightColumnStringList,
                     color \
                         = 'lime') \
                .highlight_min \
                    (highlightColumnStringList,
                     color \
                         = 'yellow')


log_function \
    .ReturnStylerObjectSavePNGImage \
        (currentStylerObject,
         captionString)

# <br> **Section 8: School Metrics with School Size Categories**

## **8.1: Calculations**

In [86]:
# This line of code creates a copy of the school summary DataFrame and assigns 
# it the the scores by school size DataFrame.
scoresBySchoolSizeDataFrame \
    = schoolSummaryDataFrame.copy()

# This line of code establishes the bins for the school size column. 
schoolSizeBinsIntegerList \
    = [0, 1000, 2000, 5000]

# This line of code establishes the labels for the school size column.
schoolSizeLabelsStringList \
    = ['Small (<1000)', 'Medium (1000-2000)', 'Large (2000-5000)']

In [87]:
# This line of code creates a new column in the scores by school size DataFrame
# for school size: the Pandas subroutine, `pd.cut`, creates the school sizes 
# based on the predefined bins and labels and assigns them to the new column.
scoresBySchoolSizeDataFrame \
    ['School Size'] \
        = pd \
            .cut \
                (x = scoresBySchoolSizeDataFrame \
                        [schoolSummaryDataFrame.keys() \
                            [local_constant \
                                .SchoolSummaryKeysEnumeration \
                                    .TOTAL_STUDENTS \
                                    .value]],
                 bins = schoolSizeBinsIntegerList,
                 labels = schoolSizeLabelsStringList)


log_function \
    .DebugReturnObjectWriteObject \
        (scoresBySchoolSizeDataFrame)

## **8.2: Display School Metrics with School Size Categories**

In [88]:
captionString \
    = 'Table 8.2: School Metrics with School Size Categories'

highlightColumnStringList \
    = ['Total Students', 
       'Total School Budget',
       'Per Student Budget',
       'Average Math Score',
       'Average Reading Score',
       '% Passing Math',
       '% Passing Reading',
       '% Overall Passing']

scoresBySchoolSizeDataFrame \
    .index \
    .name \
        = 'School Name'

currentStylerObject \
    = function \
        .ReturnStylerObjectStandardFormat \
            (scoresBySchoolSizeDataFrame, 
             captionString,
             hideFlagBooleanParameter = False) \
                .format \
                    ({'Total Students': '{:,}',
                      'Total School Budget': '${:,.2f}',
                      'Per Student Budget': '${:,.2f}',
                      'Average Math Score': '{:,.2f}',
                      'Average Reading Score': '{:,.2f}',
                      '% Passing Math': '{:,.2f}%',
                      '% Passing Reading': '{:,.2f}%',
                      '% Overall Passing': '{:,.2f}%'}) \
                .highlight_max \
                    (highlightColumnStringList,
                     color \
                         = 'lime') \
                .highlight_min \
                    (highlightColumnStringList,
                     color \
                         = 'yellow')

log_function \
    .ReturnStylerObjectSavePNGImage \
        (currentStylerObject,
         captionString)

# <br> **Section 9: Financial Metrics by School Size**

## **9.1: Financial Metrics (Mean) by School Size**

## **Calculations**

In [89]:
# This line of code calculates the average number of students 
# per school size.
sizeMeanTotalStudentsSeries \
    = scoresBySchoolSizeDataFrame \
        .groupby \
            ('School Size') \
                [schoolSummaryDataFrame.keys() \
                    [local_constant \
                        .SchoolSummaryKeysEnumeration \
                            .TOTAL_STUDENTS \
                            .value]] \
                .mean()


log_function \
    .DebugReturnObjectWriteObject \
        (sizeMeanTotalStudentsSeries)

In [90]:
# This line of code calculates the average school budget 
# per school size.
sizeMeanTotalSchoolBudgetSeries \
    = scoresBySchoolSizeDataFrame \
        .groupby \
            ('School Size') \
                [schoolSummaryDataFrame.keys() \
                    [local_constant \
                        .SchoolSummaryKeysEnumeration \
                            .TOTAL_SCHOOL_BUDGET \
                            .value]] \
                .mean()


log_function \
    .DebugReturnObjectWriteObject \
        (sizeMeanTotalSchoolBudgetSeries)

In [91]:
# This line of code calculates the average per student budget 
# per school size.
sizeMeanPerStudentBudgetSeries \
    = scoresBySchoolSizeDataFrame \
        .groupby \
            ('School Size') \
                [schoolSummaryDataFrame.keys() \
                    [local_constant \
                        .SchoolSummaryKeysEnumeration \
                            .PER_STUDENT_BUDGET \
                            .value]] \
                .mean()


log_function \
    .DebugReturnObjectWriteObject \
        (sizeMeanPerStudentBudgetSeries)

## **Summary of Calculations**

In [92]:
# This line of code creates a DataFrame from the median financial 
# summary calculations per school size.
sizeMeanFinancialMetricsDataFrame \
    = pd \
        .concat \
            ({'Total Students': sizeMeanTotalStudentsSeries,
              'Total School Budget': sizeMeanTotalSchoolBudgetSeries,
              'Per Student Budget': sizeMeanPerStudentBudgetSeries},
             axis = 1)


log_function \
    .DebugReturnObjectWriteObject \
        (sizeMeanFinancialMetricsDataFrame)

## **9.2: Financial Metrics (Median) by School Size**

## **Calculations**

In [93]:
# This line of code calculates the median number of students per school 
# per school size.
sizeMedianTotalStudentsSeries \
    = scoresBySchoolSizeDataFrame \
        .groupby \
            ('School Size') \
                [schoolSummaryDataFrame.keys() \
                     [local_constant \
                        .SchoolSummaryKeysEnumeration \
                            .TOTAL_STUDENTS \
                            .value]] \
                .median()


log_function \
    .DebugReturnObjectWriteObject \
        (sizeMedianTotalStudentsSeries)

In [94]:
# This line of code calculates the median school budget per school size.
sizeMedianTotalSchoolBudgetSeries \
    = scoresBySchoolSizeDataFrame \
        .groupby \
            ('School Size') \
                [schoolSummaryDataFrame.keys() \
                    [local_constant \
                        .SchoolSummaryKeysEnumeration \
                            .TOTAL_SCHOOL_BUDGET \
                            .value]] \
                .median()


log_function \
    .DebugReturnObjectWriteObject \
        (sizeMedianTotalSchoolBudgetSeries)

In [95]:
# This line of code calculates the median per student budget per 
# school size.
sizeMedianPerStudentBudgetSeries \
    = scoresBySchoolSizeDataFrame \
        .groupby \
            ('School Size') \
                [schoolSummaryDataFrame.keys() \
                    [local_constant \
                        .SchoolSummaryKeysEnumeration \
                            .PER_STUDENT_BUDGET \
                            .value]] \
                .median()


log_function \
    .DebugReturnObjectWriteObject \
        (sizeMedianPerStudentBudgetSeries)

## **Summary of Calculations**

In [96]:
# This line of code creates a DataFrame from the median financial 
# summary calculations per school size.
sizeMedianFinancialSummaryDataFrame \
    = pd \
        .concat \
            ({'Total Students': sizeMedianTotalStudentsSeries,
              'Total School Budget': sizeMedianTotalSchoolBudgetSeries,
              'Per Student Budget': sizeMedianPerStudentBudgetSeries},
             axis = 1)


log_function \
    .DebugReturnObjectWriteObject \
        (sizeMedianFinancialSummaryDataFrame)

## **9.3: Financial Metrics (Mean/Median) by School Size**

## **Summary of Calculations**

In [97]:
# This line of code creates a DataFrame from the average and median 
# financial summary per school size DataFrames.
sizeMeanMedianFinancialSumDataFrame \
    = sizeMeanFinancialMetricsDataFrame \
        .compare \
            (sizeMedianFinancialSummaryDataFrame,
             align_axis = 1,
             keep_shape = True,
             keep_equal = True) \
        .rename \
            (columns = {'self': 'Mean', 
                        'other': 'Median'}, 
             level = -1)


log_function \
    .DebugReturnObjectWriteObject \
        (sizeMeanMedianFinancialSumDataFrame)

## **9.4: Display Financial Metrics (Mean) by School Size**

In [98]:
captionString \
    = 'Table 9.4: Financial Metrics by School Size (Mean)'

highlightColumnStringList \
    = ['Total Students', 
       'Total School Budget',
       'Per Student Budget']

sizeMeanFinancialMetricsDataFrame \
    .index \
    .name \
        = 'School Size'

currentStylerObject \
    = function \
        .ReturnStylerObjectStandardFormat \
            (sizeMeanFinancialMetricsDataFrame, 
             captionString,
             hideFlagBooleanParameter = False) \
                .format \
                    ({'Total Students': '{:,.2f}',
                      'Total School Budget': '${:,.2f}',
                      'Per Student Budget': '${:,.2f}'}) \
                .highlight_max \
                    (highlightColumnStringList,
                     color \
                         = 'lime') \
                .highlight_min \
                    (highlightColumnStringList,
                     color \
                         = 'yellow')

log_function \
    .ReturnStylerObjectSavePNGImage \
        (currentStylerObject,
         captionString)

## **9.5: Display Financial Metrics (Median) by School Size**

In [99]:
captionString \
    = 'Table 9.5: Financial Metrics by School Size (Median)'

highlightColumnStringList \
    = ['Total Students', 
       'Total School Budget',
       'Per Student Budget']

sizeMedianFinancialSummaryDataFrame \
    .index \
    .name \
        = 'School Size'

currentStylerObject \
    = function \
        .ReturnStylerObjectStandardFormat \
            (sizeMedianFinancialSummaryDataFrame, 
             captionString,
             hideFlagBooleanParameter = False) \
                .format \
                    ({'Total Students': '{:,.2f}',
                      'Total School Budget': '${:,.2f}',
                      'Per Student Budget': '${:,.2f}'}) \
                .highlight_max \
                    (highlightColumnStringList,
                     color \
                         = 'lime') \
                .highlight_min \
                    (highlightColumnStringList,
                     color \
                         = 'yellow')

log_function \
    .ReturnStylerObjectSavePNGImage \
        (currentStylerObject,
         captionString)

## **9.6: Display Financial Metrics (Mean/Median) by School Size**

In [100]:
captionString \
    = 'Table 9.6: Financial Metrics by School Size (Mean/Median)'

highlightColumnStringList \
    = ['Total Students', 
       'Total School Budget',
       'Per Student Budget']

sizeMeanMedianFinancialSumDataFrame \
    .index \
    .name \
        = 'School Size'

currentStylerObject \
    = function \
        .ReturnStylerObjectStandardFormat \
            (sizeMeanMedianFinancialSumDataFrame, 
             captionString,
             hideFlagBooleanParameter = False) \
                .highlight_max \
                    (highlightColumnStringList,
                     color \
                         = 'lime') \
                .highlight_min \
                    (highlightColumnStringList,
                     color \
                         = 'yellow')

log_function \
    .ReturnStylerObjectSavePNGImage \
        (currentStylerObject,
         captionString)

# <br> **Section 10: Test Scores/Passing Rates by School Size**

## **10.1: Test Scores/Passing Rates (Mean) by School Size**

## **Calculations**

In [101]:
# This line of code calculates the average math scores per school size.
sizeMeanMathScoresSeries \
    = scoresBySchoolSizeDataFrame \
        .groupby \
            ('School Size') \
                [schoolSummaryDataFrame.keys() \
                    [local_constant \
                        .SchoolSummaryKeysEnumeration \
                            .MATH_SCORE \
                            .value]] \
                .mean()


log_function \
    .DebugReturnObjectWriteObject \
        (sizeMeanMathScoresSeries)

In [102]:
# This line of code calculates the average reading scores 
# per school size.
sizeMeanReadingScoresSeries \
    = scoresBySchoolSizeDataFrame \
        .groupby \
            ('School Size') \
                [schoolSummaryDataFrame.keys() \
                    [local_constant \
                        .SchoolSummaryKeysEnumeration \
                            .READING_SCORE \
                            .value]] \
        .mean()


log_function \
    .DebugReturnObjectWriteObject \
        (sizeMeanReadingScoresSeries)

In [103]:
# This line of code calculates the average passing math rate 
# per school size.
sizeMeanPassingMathSeries \
    = scoresBySchoolSizeDataFrame \
        .groupby \
            ('School Size') \
                [schoolSummaryDataFrame.keys() \
                    [local_constant \
                        .SchoolSummaryKeysEnumeration \
                            .PERCENT_PASSING_MATH \
                            .value]] \
                .mean()


log_function \
    .DebugReturnObjectWriteObject \
        (sizeMeanPassingMathSeries)

In [104]:
# This line of code calculates the average passing reading rate 
# per school size.
sizeMeanPassingReadingSeries \
    = scoresBySchoolSizeDataFrame \
        .groupby \
            ('School Size') \
                [schoolSummaryDataFrame.keys() \
                    [local_constant \
                        .SchoolSummaryKeysEnumeration \
                            .PERCENT_PASSING_READING \
                            .value]] \
                .mean()


log_function \
    .DebugReturnObjectWriteObject \
        (sizeMeanPassingReadingSeries)

In [105]:
# This line of code calculates the average overall passing rate 
# per school size.
sizeMeanPassingOverallSeries \
    = scoresBySchoolSizeDataFrame \
        .groupby \
            ('School Size') \
                [schoolSummaryDataFrame.keys() \
                    [local_constant \
                        .SchoolSummaryKeysEnumeration \
                            .PERCENT_OVERALL_PASSING \
                            .value]] \
                .mean()


log_function \
    .DebugReturnObjectWriteObject \
        (sizeMeanPassingOverallSeries)

## **Summary of Calculations**

In [106]:
# This line of code creates a DataFrame from the average score 
# and passing rate per school size calculations.
sizeMeanSummaryDataFrame \
    = pd \
        .concat \
            ({'Math Score': sizeMeanMathScoresSeries,
              'Reading Score': sizeMeanReadingScoresSeries,
              '% Passing Math': sizeMeanPassingMathSeries,
              '% Passing Reading': sizeMeanPassingReadingSeries,
              '% Overall Passing': sizeMeanPassingOverallSeries},
             axis = 1)


log_function \
    .DebugReturnObjectWriteObject \
        (sizeMeanSummaryDataFrame)

## **10.2: Test Scores/Passing Rates (Median) by School Size**

## **Calculations**

In [107]:
# This line of code calculates the median math scores per school
# size.
sizeMedianMathScoresSeries \
    = scoresBySchoolSizeDataFrame \
        .groupby \
            ('School Size') \
                [schoolSummaryDataFrame.keys() \
                    [local_constant \
                        .SchoolSummaryKeysEnumeration \
                            .MATH_SCORE \
                            .value]] \
                .median()


log_function \
    .DebugReturnObjectWriteObject \
        (sizeMedianMathScoresSeries)

In [108]:
# This line of code calculates the median reading scores per school 
# size.
sizeMedianReadingScoresSeries \
    = scoresBySchoolSizeDataFrame \
        .groupby \
            ('School Size') \
                [schoolSummaryDataFrame.keys() \
                    [local_constant \
                        .SchoolSummaryKeysEnumeration \
                            .READING_SCORE \
                            .value]] \
                .median()


log_function \
    .DebugReturnObjectWriteObject \
        (sizeMedianReadingScoresSeries)

In [109]:
# This line of code calculates the median passing math rate per school 
# size.
sizeMedianPassingMathSeries \
    = scoresBySchoolSizeDataFrame \
        .groupby \
            ('School Size') \
                [schoolSummaryDataFrame.keys() \
                    [local_constant \
                        .SchoolSummaryKeysEnumeration \
                            .PERCENT_PASSING_MATH \
                            .value]] \
                .median()


log_function \
    .DebugReturnObjectWriteObject \
        (sizeMedianPassingMathSeries)

In [110]:
# This line of code calculates the median passing reading rate per school 
# size.
sizeMedianPassingReadingSeries \
    = scoresBySchoolSizeDataFrame \
        .groupby \
            ('School Size') \
                [schoolSummaryDataFrame.keys() \
                    [local_constant \
                        .SchoolSummaryKeysEnumeration \
                            .PERCENT_PASSING_READING \
                            .value]] \
                .median()


log_function \
    .DebugReturnObjectWriteObject \
        (sizeMedianPassingReadingSeries)

In [111]:
# This line of code calculates the median overall passing rate per school 
# size.
sizeMedianPassingOverallSeries \
    = scoresBySchoolSizeDataFrame \
        .groupby \
            ('School Size') \
                [schoolSummaryDataFrame.keys() \
                    [local_constant \
                        .SchoolSummaryKeysEnumeration \
                            .PERCENT_OVERALL_PASSING \
                            .value]] \
                .median()


log_function \
    .DebugReturnObjectWriteObject \
        (sizeMedianPassingOverallSeries)

## **Summary of Calculations**

In [112]:
# This line of code creates a DataFrame from the median score and passing rate 
# per school size calculations.
sizeMedianSummaryDataFrame \
    = pd \
        .concat \
            ({'Math Score': sizeMedianMathScoresSeries,
              'Reading Score': sizeMedianReadingScoresSeries,
              '% Passing Math': sizeMedianPassingMathSeries,
              '% Passing Reading': sizeMedianPassingReadingSeries,
              '% Overall Passing': sizeMedianPassingOverallSeries},
             axis = 1)


log_function \
    .DebugReturnObjectWriteObject \
        (sizeMedianSummaryDataFrame)

## **10.3: Test Scores/Passing Rates (Mean/Median) by School Size**

## **Summary of Calculations**

In [113]:
# This line of code creates a DataFrame from the median and average score 
# and passing rate per school size DataFrames.
sizeMeanMedianSummaryDataFrame \
    = sizeMeanSummaryDataFrame \
        .compare \
            (sizeMedianSummaryDataFrame,
             align_axis = 1,
             keep_shape = True,
             keep_equal = True) \
        .rename \
            (columns = {'self': 'Mean', 
                        'other': 'Median'}, 
             level = -1)


log_function \
    .DebugReturnObjectWriteObject \
        (sizeMeanMedianSummaryDataFrame)

## **10.4: Display Test Scores/Passing Rates (Mean) by School Size**

In [114]:
captionString \
    = 'Table 10.4: Test Scores/Passing Rates (Mean) by School Size'

highlightColumnStringList \
    = ['Math Score', 
       'Reading Score',
       '% Passing Math',
       '% Passing Reading',
       '% Overall Passing']

sizeMeanSummaryDataFrame \
    .index \
    .name \
        = 'School Size'

currentStylerObject \
    = function \
        .ReturnStylerObjectStandardFormat \
            (sizeMeanSummaryDataFrame, 
             captionString,
             hideFlagBooleanParameter = False) \
                .format \
                    ({'Math Score': '{:,.2f}',
                      'Reading Score': '${:,.2f}',
                      '% Passing Math': '${:,.2f}%',
                      '% Passing Reading': '{:,.2f}%',
                      '% Overall Passing': '{:,.2f}%'}) \
                .highlight_max \
                    (highlightColumnStringList,
                     color \
                         = 'lime') \
                .highlight_min \
                    (highlightColumnStringList,
                     color \
                         = 'yellow')


log_function \
    .ReturnStylerObjectSavePNGImage \
        (currentStylerObject,
         captionString)

## **10.5: Display Test Scores/Passing Rates (Median) by School Size**

In [115]:
captionString \
    = 'Table 10.5: Test Scores/Passing Rates (Median) by School Size'

highlightColumnStringList \
    = ['Math Score', 
       'Reading Score',
       '% Passing Math',
       '% Passing Reading',
       '% Overall Passing']

sizeMedianSummaryDataFrame \
    .index \
    .name \
        = 'School Size'

currentStylerObject \
    = function \
        .ReturnStylerObjectStandardFormat \
            (sizeMedianSummaryDataFrame, 
             captionString,
             hideFlagBooleanParameter = False) \
                .format \
                    ({'Math Score': '{:,.2f}',
                      'Reading Score': '${:,.2f}',
                      '% Passing Math': '${:,.2f}%',
                      '% Passing Reading': '{:,.2f}%',
                      '% Overall Passing': '{:,.2f}%'}) \
                .highlight_max \
                    (highlightColumnStringList,
                     color \
                         = 'lime') \
                .highlight_min \
                    (highlightColumnStringList,
                     color \
                         = 'yellow')


log_function \
    .ReturnStylerObjectSavePNGImage \
        (currentStylerObject,
         captionString)

## **10.6: Display Test Scores/Passing Rates (Mean/Median) by School Size**

In [116]:
captionString \
    = 'Table 10.6: Test Scores/Passing Rates (Mean/Median) by School Size'

highlightColumnStringList \
    = ['Math Score', 
       'Reading Score',
       '% Passing Math',
       '% Passing Reading',
       '% Overall Passing']

sizeMeanMedianSummaryDataFrame \
    .index \
    .name \
        = 'School Size'

currentStylerObject \
    = function \
        .ReturnStylerObjectStandardFormat \
            (sizeMeanMedianSummaryDataFrame, 
             captionString,
             hideFlagBooleanParameter = False) \
                .highlight_max \
                    (highlightColumnStringList,
                     color \
                         = 'lime') \
                .highlight_min \
                    (highlightColumnStringList,
                     color \
                         = 'yellow')


log_function \
    .ReturnStylerObjectSavePNGImage \
        (currentStylerObject,
         captionString)

# <br> **Section 11: Financial Metrics by School Type**

## **11.1: Financial Metrics (Mean) by School Type**

## **Calculations**

In [117]:
# This line of code calculates the average number of students 
# per school type.
typeMeanTotalStudentsSeries \
    = scoresBySchoolSizeDataFrame \
        .groupby \
            ('School Type') \
                [schoolSummaryDataFrame.keys() \
                    [local_constant \
                        .SchoolSummaryKeysEnumeration \
                            .TOTAL_STUDENTS \
                            .value]] \
                .mean()


log_function \
    .DebugReturnObjectWriteObject \
        (typeMeanTotalStudentsSeries)

In [118]:
# This line of code calculates the average school budget 
# per school type.
typeMeanTotalSchoolBudgetSeries \
    = scoresBySchoolSizeDataFrame \
        .groupby \
            ('School Type') \
                [schoolSummaryDataFrame.keys() \
                    [local_constant \
                        .SchoolSummaryKeysEnumeration \
                            .TOTAL_SCHOOL_BUDGET \
                            .value]] \
                .mean()


log_function \
    .DebugReturnObjectWriteObject \
        (typeMeanTotalSchoolBudgetSeries)

In [119]:
# This line of code calculates the average per student budget 
# per school type.
typeMeanPerStudentBudgetSeries \
    = scoresBySchoolSizeDataFrame \
        .groupby \
            ('School Type') \
                [schoolSummaryDataFrame.keys() \
                    [local_constant \
                        .SchoolSummaryKeysEnumeration \
                            .PER_STUDENT_BUDGET \
                            .value]] \
                .mean()


log_function \
    .DebugReturnObjectWriteObject \
        (typeMeanPerStudentBudgetSeries)

## **Summary of Calculations**

In [120]:
# This line of code creates a DataFrame from the average financial
# summary calculations per school type.
typeMeanFinancialSummaryDataFrame \
    = pd.concat \
        ({'Total Students': typeMeanTotalStudentsSeries,
          'Total School Budget': typeMeanTotalSchoolBudgetSeries,
          'Per Student Budget': typeMeanPerStudentBudgetSeries},
         axis = 1)


log_function \
    .DebugReturnObjectWriteObject \
        (typeMeanFinancialSummaryDataFrame)

## **11.2: Financial Metrics (Median) by School Type**

## **Calculations**

In [121]:
# This line of code calculates the median number of students per 
# school type.
typeMedianTotalStudentsSeries \
    = scoresBySchoolSizeDataFrame \
        .groupby \
            ('School Type') \
                [schoolSummaryDataFrame.keys() \
                    [local_constant \
                        .SchoolSummaryKeysEnumeration \
                            .TOTAL_STUDENTS \
                            .value]] \
                .median()


log_function \
    .DebugReturnObjectWriteObject \
        (typeMedianTotalStudentsSeries)

In [122]:
# This line of code calculates the median school budget per school 
# type.
typeMedianTotalSchoolBudgetSeries \
    = scoresBySchoolSizeDataFrame \
        .groupby \
            ('School Type') \
                [schoolSummaryDataFrame.keys() \
                    [local_constant \
                        .SchoolSummaryKeysEnumeration \
                            .TOTAL_SCHOOL_BUDGET \
                            .value]] \
                .median()


log_function \
    .DebugReturnObjectWriteObject \
        (typeMedianTotalSchoolBudgetSeries)

In [123]:
# This line of code calculates the median per student budget per school 
# type.
typeMedianPerStudentBudgetSeries \
    = scoresBySchoolSizeDataFrame \
        .groupby \
            ('School Type') \
                [schoolSummaryDataFrame.keys() \
                    [local_constant \
                        .SchoolSummaryKeysEnumeration \
                            .PER_STUDENT_BUDGET \
                            .value]] \
                .median()


log_function \
    .DebugReturnObjectWriteObject \
        (typeMedianPerStudentBudgetSeries)

## **Summary of Calculations**

In [124]:
# This line of code creates a DataFrame from the median financial summary 
# calculations per school type.
typeMedianFinancialSummaryDataFrame \
    = pd.concat \
        ({'Total Students': typeMedianTotalStudentsSeries,
          'Total School Budget': typeMedianTotalSchoolBudgetSeries,
          'Per Student Budget': typeMedianPerStudentBudgetSeries},
         axis = 1)


log_function \
    .DebugReturnObjectWriteObject \
        (typeMedianFinancialSummaryDataFrame)

## **11.3: Financial Metrics (Mean/Median) by School Type**

## **Summary of Calculations**

In [125]:
# This line of code creates a DataFrame from the average and median financial 
# summary calculations per school type.
typeMeanMedianFinancialSummaryDataFrame \
    = typeMeanFinancialSummaryDataFrame \
        .compare \
            (typeMedianFinancialSummaryDataFrame,
             align_axis = 1,
             keep_shape = True,
             keep_equal = True) \
        .rename \
            (columns = {'self': 'Mean',
                        'other': 'Median'},
             level = -1)


log_function \
    .DebugReturnObjectWriteObject \
        (typeMeanMedianFinancialSummaryDataFrame)

## **11.4: Display Financial Metrics (Mean) by School Type**

In [126]:
captionString \
    = 'Table 11.4: Financial Metrics by School Type (Mean)'

highlightColumnStringList \
    = ['Total Students', 
       'Total School Budget',
       'Per Student Budget']

typeMeanFinancialSummaryDataFrame \
    .index \
    .name \
        = 'School Type'

currentStylerObject \
    = function \
        .ReturnStylerObjectStandardFormat \
            (typeMeanFinancialSummaryDataFrame, 
             captionString,
             hideFlagBooleanParameter = False) \
                .format \
                    ({'Total Students': '{:,.0f}',
                      'Total School Budget': '${:,.2f}',
                      'Per Student Budget': '${:,.2f}'}) \
                .highlight_max \
                    (highlightColumnStringList,
                     color \
                         = 'lime') \
                .highlight_min \
                    (highlightColumnStringList,
                     color \
                         = 'yellow')

log_function \
    .ReturnStylerObjectSavePNGImage \
        (currentStylerObject,
         captionString)

## **11.5: Display Financial Metrics (Median) by School Type**

In [127]:
captionString \
    = 'Table 11.5: Financial Metrics by School Type (Median)'

highlightColumnStringList \
    = ['Total Students', 
       'Total School Budget',
       'Per Student Budget']

typeMedianFinancialSummaryDataFrame \
    .index \
    .name \
        = 'School Type'

currentStylerObject \
    = function \
        .ReturnStylerObjectStandardFormat \
            (typeMedianFinancialSummaryDataFrame, 
             captionString,
             hideFlagBooleanParameter = False) \
                .format \
                    ({'Total Students': '{:,.0f}',
                      'Total School Budget': '${:,.2f}',
                      'Per Student Budget': '${:,.2f}'}) \
                .highlight_max \
                    (highlightColumnStringList,
                     color \
                         = 'lime') \
                .highlight_min \
                    (highlightColumnStringList,
                     color \
                         = 'yellow')

log_function \
    .ReturnStylerObjectSavePNGImage \
        (currentStylerObject,
         captionString)

## **11.6: Display Financial Metrics (Mean/Median) by School Type**

In [128]:
captionString \
    = 'Table 11.6: Financial Metrics by School Type (Mean/Median)'

highlightColumnStringList \
    = ['Total Students', 
       'Total School Budget',
       'Per Student Budget']

typeMeanMedianFinancialSummaryDataFrame \
    .index \
    .name \
        = 'School Type'

currentStylerObject \
    = function \
        .ReturnStylerObjectStandardFormat \
            (typeMeanMedianFinancialSummaryDataFrame, 
             captionString,
             hideFlagBooleanParameter = False) \
                .highlight_max \
                    (highlightColumnStringList,
                     color \
                         = 'lime') \
                .highlight_min \
                    (highlightColumnStringList,
                     color \
                         = 'yellow')

log_function \
    .ReturnStylerObjectSavePNGImage \
        (currentStylerObject,
         captionString)

# <br> **Section 12: Test Scores/Passing Rates by School Type**

## **12.1: Test Scores/Passing Rates (Mean) by School Type**

## **Calculations**

In [129]:
# This line of code calculates the average math scores per school type.
typeMeanMathScoresSeries \
    = scoresBySchoolSizeDataFrame \
        .groupby \
            ('School Type') \
                [schoolSummaryDataFrame.keys() \
                    [local_constant \
                        .SchoolSummaryKeysEnumeration \
                            .MATH_SCORE \
                            .value]] \
                .mean()


log_function \
    .DebugReturnObjectWriteObject \
        (typeMeanMathScoresSeries)

In [130]:
# This line of code calculates the average reading scores per school type.
typeMeanReadingScoresSeries \
    = scoresBySchoolSizeDataFrame \
        .groupby \
            ('School Type') \
                [schoolSummaryDataFrame.keys() \
                    [local_constant \
                        .SchoolSummaryKeysEnumeration \
                            .READING_SCORE \
                            .value]] \
                .mean()


log_function \
    .DebugReturnObjectWriteObject \
        (typeMeanReadingScoresSeries)

In [131]:
# This line of code calculates the average passing math rate per school type.
typeMeanPassingMathSeries \
    = scoresBySchoolSizeDataFrame \
        .groupby \
            ('School Type') \
                [schoolSummaryDataFrame.keys() \
                    [local_constant \
                        .SchoolSummaryKeysEnumeration \
                            .PERCENT_PASSING_MATH \
                            .value]] \
                .mean()


log_function \
    .DebugReturnObjectWriteObject \
        (typeMeanPassingMathSeries)

In [132]:
# This line of code calculates the average passing reading rate per school type.
typeMeanPassingReadingSeries \
    = scoresBySchoolSizeDataFrame \
        .groupby \
            ('School Type') \
                [schoolSummaryDataFrame.keys() \
                    [local_constant \
                        .SchoolSummaryKeysEnumeration \
                            .PERCENT_PASSING_READING \
                            .value]] \
                .mean()


log_function \
    .DebugReturnObjectWriteObject \
        (typeMeanPassingReadingSeries)

In [133]:
# This line of code calculates the average overall passing rate per school type.
typeMeanOverallPassingSeries \
    = scoresBySchoolSizeDataFrame \
        .groupby \
            ('School Type') \
                [schoolSummaryDataFrame.keys() \
                    [local_constant \
                        .SchoolSummaryKeysEnumeration \
                            .PERCENT_OVERALL_PASSING \
                            .value]] \
                .mean()


log_function \
    .DebugReturnObjectWriteObject \
        (typeMeanOverallPassingSeries)

## **Summary of Calculations**

In [134]:
# This line of code creates a DataFrame from the average score and passing rate 
# per school type calculations.
typeMeanSummaryDataFrame \
    = pd.concat \
        ({'Math Score': typeMeanMathScoresSeries,
          'Reading Score': typeMeanReadingScoresSeries,
          '% Passing Math': typeMeanPassingMathSeries,
          '% Passing Reading': typeMeanPassingReadingSeries,
          '% Overall Passing': typeMeanOverallPassingSeries},
         axis = 1)


log_function \
    .DebugReturnObjectWriteObject \
        (typeMeanSummaryDataFrame)

## **12.2: Test Scores/Passing Rates (Median) by School Type**

## **Calculations**

In [135]:
# This line of code calculates the median math scores per school type.
typeMedianMathScoresSeries \
    = scoresBySchoolSizeDataFrame \
        .groupby \
            ('School Type') \
                [schoolSummaryDataFrame.keys() \
                    [local_constant \
                        .SchoolSummaryKeysEnumeration \
                            .MATH_SCORE \
                            .value]] \
                .median()


log_function \
    .DebugReturnObjectWriteObject \
        (typeMedianMathScoresSeries)

In [136]:
# This line of code calculates the median reading scores per school type.
typeMedianReadingScoresSeries \
    = scoresBySchoolSizeDataFrame \
        .groupby \
            ('School Type') \
                [schoolSummaryDataFrame.keys() \
                    [local_constant \
                        .SchoolSummaryKeysEnumeration \
                            .READING_SCORE \
                            .value]] \
                .median()


log_function \
    .DebugReturnObjectWriteObject \
        (typeMedianReadingScoresSeries)

In [137]:
# This line of code calculates the median passing math rate per school type.
typeMedianPassingMathSeries \
    = scoresBySchoolSizeDataFrame \
        .groupby \
            ('School Type') \
                [schoolSummaryDataFrame.keys() \
                    [local_constant \
                        .SchoolSummaryKeysEnumeration \
                            .PERCENT_PASSING_MATH \
                            .value]] \
                .median()


log_function \
    .DebugReturnObjectWriteObject \
        (typeMedianPassingMathSeries)

In [138]:
# This line of code calculates the median passing reading rate per school type.
typeMedianPassingReadingSeries \
    = scoresBySchoolSizeDataFrame \
        .groupby \
            ('School Type') \
                [schoolSummaryDataFrame.keys() \
                    [local_constant \
                        .SchoolSummaryKeysEnumeration \
                            .PERCENT_PASSING_READING \
                            .value]] \
                .median()


log_function \
    .DebugReturnObjectWriteObject \
        (typeMedianPassingReadingSeries)

In [139]:
# This line of code calculates the median overall passing rate per school type.
typeMedianOverallPassingSeries \
    = scoresBySchoolSizeDataFrame \
        .groupby \
            ('School Type') \
                [schoolSummaryDataFrame.keys() \
                    [local_constant \
                        .SchoolSummaryKeysEnumeration \
                            .PERCENT_OVERALL_PASSING \
                            .value]] \
                .median()


log_function \
    .DebugReturnObjectWriteObject \
        (typeMedianOverallPassingSeries)

## **Summary of Calculations**

In [140]:
# This line of code creates a DataFrame from the median score and passing rate 
# per school type calculations.
typeMedianSummaryDataFrame \
    = pd.concat \
        ({'Math Score': typeMedianMathScoresSeries,
          'Reading Score': typeMedianReadingScoresSeries,
          '% Passing Math': typeMedianPassingMathSeries,
          '% Passing Reading': typeMedianPassingReadingSeries,
          '% Overall Passing': typeMedianOverallPassingSeries},
         axis = 1)


log_function \
    .DebugReturnObjectWriteObject \
        (typeMedianSummaryDataFrame)

## **12.3: Test Scores/Passing Rates (Mean/Median) by School Type**

## **Summary of Calculations**

In [141]:
# This line of code creates a DataFrame from the average and median score 
# and passing rate per school type DataFrames.
typeMeanMedianSummaryDataFrame \
    = typeMeanSummaryDataFrame \
        .compare \
            (typeMedianSummaryDataFrame,
             align_axis = 1,
             keep_shape = True,
             keep_equal = True) \
        .rename \
            (columns = {'self': 'Mean',
                        'other': 'Median'},
             level = -1)


log_function \
    .DebugReturnObjectWriteObject \
        (typeMeanMedianSummaryDataFrame)

## **12.4: Display Test Scores/Passing Rates (Mean) by School Type**

In [142]:
captionString \
    = 'Table 12.4: Display Test Scores/Passing Rates (Mean) by School Type'

highlightColumnStringList \
    = ['Math Score', 
       'Reading Score',
       '% Passing Math',
       '% Passing Reading',
       '% Overall Passing']

typeMeanSummaryDataFrame \
    .index \
    .name \
        = 'School Type'

currentStylerObject \
    = function \
        .ReturnStylerObjectStandardFormat \
            (typeMeanSummaryDataFrame, 
             captionString,
             hideFlagBooleanParameter = False) \
                .format \
                    ({'Math Score': '{:,.2f}',
                      'Reading Score': '${:,.2f}',
                      '% Passing Math': '${:,.2f}%',
                      '% Passing Reading': '{:,.2f}%',
                      '% Overall Passing': '{:,.2f}%'}) \
                .highlight_max \
                    (highlightColumnStringList,
                     color \
                         = 'lime') \
                .highlight_min \
                    (highlightColumnStringList,
                     color \
                         = 'yellow')


log_function \
    .ReturnStylerObjectSavePNGImage \
        (currentStylerObject,
         captionString)

## **12.5: Display Test Scores/Passing Rates (Median) by School Type**

In [143]:
captionString \
    = 'Table 12.5: Display Test Scores/Passing Rates (Median) by School Type'

highlightColumnStringList \
    = ['Math Score', 
       'Reading Score',
       '% Passing Math',
       '% Passing Reading',
       '% Overall Passing']

typeMedianSummaryDataFrame \
    .index \
    .name \
        = 'School Type'

currentStylerObject \
    = function \
        .ReturnStylerObjectStandardFormat \
            (typeMedianSummaryDataFrame, 
             captionString,
             hideFlagBooleanParameter = False) \
                .format \
                    ({'Math Score': '{:,.2f}',
                      'Reading Score': '${:,.2f}',
                      '% Passing Math': '${:,.2f}%',
                      '% Passing Reading': '{:,.2f}%',
                      '% Overall Passing': '{:,.2f}%'}) \
                .highlight_max \
                    (highlightColumnStringList,
                     color \
                         = 'lime') \
                .highlight_min \
                    (highlightColumnStringList,
                     color \
                         = 'yellow')


log_function \
    .ReturnStylerObjectSavePNGImage \
        (currentStylerObject,
         captionString)

## **12.6: Display Test Scores/Passing Rates (Mean/Median) by School Type**

In [144]:
captionString \
    = 'Table 12.6: Display Test Scores/Passing Rates (Mean/Median) by School Type'

highlightColumnStringList \
    = ['Math Score', 
       'Reading Score',
       '% Passing Math',
       '% Passing Reading',
       '% Overall Passing']

typeMeanMedianSummaryDataFrame \
    .index \
    .name \
        = 'School Type'

currentStylerObject \
    = function \
        .ReturnStylerObjectStandardFormat \
            (typeMeanMedianSummaryDataFrame, 
             captionString,
             hideFlagBooleanParameter = False) \
                .highlight_max \
                    (highlightColumnStringList,
                     color \
                         = 'lime') \
                .highlight_min \
                    (highlightColumnStringList,
                     color \
                         = 'yellow')


log_function \
    .ReturnStylerObjectSavePNGImage \
        (currentStylerObject,
         captionString)

In [145]:
#log_subroutine \
#    .EndProgramExecution()